/********** breakpoints **********/
// $breakpoint-xs-max: 479px;
// $breakpoint-sm-min: 480px;
// $breakpoint-sm-max: 767px;
// $breakpoint-md-min: 768px;
// $breakpoint-md-max: 1023px;
// $breakpoint-lg-min: 1024px;
// $breakpoint-lg-max: 1919px;
// $breakpoint-xl-min: 1920px;
// $breakpoint-xl-max: 99999px;

// $breakpoint-small: 360px !default;
// $breakpoint-medium: 768px !default;
// $breakpoint-large: 1024px !default;
// $breakpoint-xlarge: 1280px !default;
// $breakpoint-xxlarge: 1440px !default;


/* font */
@mixin font($size, $fontWeight: var(--fw-400)) {
	font-size: $size;
	line-height: 1.5;
	font-weight: $fontWeight;
	letter-spacing: normal;
}

/* break point min */
@mixin bp($breakpoint) {
	@if $breakpoint == 'xs' {
		@media (min-width: 0) {
			@content;
		}
	} @else if $breakpoint == 'sm' {
		@media (min-width: $breakpoint-sm-min) {
			@content;
		}
	} @else if $breakpoint == 'md' {
		@media (min-width: $breakpoint-md-min) {
			@content;
		}
	} @else if $breakpoint == 'lg' {
		@media (min-width: $breakpoint-lg-min) {
			@content;
		}
	} @else if $breakpoint == 'xl' {
		@media (min-width: $breakpoint-xl-min) {
			@content;
		}
	}
}

/* break point max */
@mixin bpm($breakpoint) {
	@if $breakpoint == 'xs' {
		@media (max-width: $breakpoint-xs-max) {
			@content;
		}
	} @else if $breakpoint == 'sm' {
		@media (max-width: $breakpoint-sm-max) {
			@content;
		}
	} @else if $breakpoint == 'md' {
		@media (max-width: $breakpoint-md-max) {
			@content;
		}
	} @else if $breakpoint == 'ml' {
		@media (max-width: 1439px) {
			@content;
		}
	} @else if $breakpoint == 'lg' {
		@media (max-width: $breakpoint-lg-max) {
			@content;
		}
	} @else if $breakpoint == 'xl' {
		@media (max-width: $breakpoint-xl-max) {
			@content;
		}
	}
}

/* break point between*/
@mixin bpb($breakpoint) {
	@if $breakpoint == 'xs' {
		@media (min-width: 0) and (max-width: $breakpoint-xs-max) {
			@content;
		}
	} @else if $breakpoint == 'sm' {
		@media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
			@content;
		}
	} @else if $breakpoint == 'md' {
		@media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
			@content;
		}
	} @else if $breakpoint == 'lg' {
		@media (min-width: $breakpoint-lg-min) and (max-width: $breakpoint-lg-max) {
			@content;
		}
	} @else if $breakpoint == 'xl' {
		@media (min-width: $breakpoint-xl-min) and (max-width: $breakpoint-xl-max) {
			@content;
		}
	}
}
