//=======================================================
// extends
//=======================================================

.clearfix {
	@include clearfix;
}

.blind {
	@include blind;
}

.scroll {
	@include scroll;
}
