//=======================================================
// mixins
//=======================================================

// * font
//-----------------

// * blind
//-----------------
@mixin blind() {
	position: absolute;
	display: inline-block;
	font-size: 1px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	visibility: hidden;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

// * clearfix
//-----------------
@mixin clearfix() {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

// * ellipsis
//-----------------
@mixin ellipsis($lines: 0) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	@if $lines !=0 {
		display: -webkit-box;
		word-wrap: break-word;
		white-space: wrap;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
	}
}

// * scroll
//-----------------
$ScrollBg: #ebebeb;
$ScrollBgHover: #bbb;
@mixin scroll($width: rem(10), $background: transparent) {
	overflow: auto;
	&::-webkit-scrollbar {
		width: $width;
		height: $width;
	}
	// &::-webkit-scrollbar-track{background-color:#FAFAFA;}
	&::-webkit-scrollbar-track {
		background-color: $background;
	}
	&::-webkit-scrollbar-thumb {
		background: $ScrollBg;
		border-radius: rem(10);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: $ScrollBgHover;
		opacity: 0.5;
	}
}
@mixin scrollX($width: rem(10)) {
	overflow-x: overlay;
	&::-webkit-scrollbar {
		width: $width;
		height: $width;
	}
	&::-webkit-scrollbar-thumb {
		background: $ScrollBg;
		border-radius: rem(10);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: $ScrollBgHover;
	}
}

// * Motion
//-----------------
@mixin trans($obj: all, $time: 0.35s, $delay: 0.05s, $easing: cubic-bezier(0.685, 0.0473, 0.346, 1)) {
	-webkit-transition: $obj $time $easing $delay;
	-moz-transition: $obj $time $easing $delay;
	-o-transition: $obj $time $easing $delay;
	-ms-transition: $obj $time $easing $delay;
	transition: $obj $time $easing $delay;
}

//=======================================================
// Mixins: flex
//=======================================================
@mixin flexArea($width: 100%, $align: center, $justify: center, $direction: row, $gap: 0) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	width: $width;
	gap: $gap;
}

@mixin flexCol($hCenter: '', $vCenter: '', $gap: 0) {
	display: flex;
	flex-direction: column;

	@if $hCenter != '' {
		justify-content: $hCenter;
	}

	@if $vCenter != '' {
		align-items: $vCenter;
	}

	@if $gap !=0 {
		gap: $gap;
	}
}

@mixin flexRow($hCenter: '', $vCenter: '', $wrap: '', $gap: 0, $mgl: '', $mgr: '') {
	display: flex;
	flex-direction: row;
	align-items: center;

	@if $hCenter != '' {
		justify-content: $hCenter;
	}

	@if $vCenter != '' {
		align-items: $vCenter !important;
	}

	@if $wrap != '' {
		flex-wrap: $wrap;
	}

	@if $gap !=0 {
		gap: $gap;
	}

	@if $mgl != '' {
		margin-left: $mgl;
	}

	@if $mgr != '' {
		margin-right: $mgr;
	}
}

// ::before, ::after
@mixin icon-inline($img-path, $width, $height, $margin) {
	content: '';
	display: inline-block;
	width: $width;
	height: $height;
	background: url($img-path) no-repeat center center;
	margin: 0 $margin;
	vertical-align: middle;
}

@mixin icon-block($img-path, $width, $height, $margin) {
	content: '';
	display: block;
	width: $width;
	height: $height;
	background: url($img-path) no-repeat center center;
	margin: 0 $margin;
	vertical-align: middle;
}

@mixin disabled {
	opacity: 0.3;
	cursor: default;
	pointer-events: none;
}

@mixin hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

//btn
@mixin btn-size-small {
	width: rem(66);
	height: rem(32);
	padding: rem(6) rem(12);
	font-size: rem(14);
	font-weight: 400;
}

@mixin btn-size-medium {
	width: rem(91);
	height: rem(40);
	padding: rem(8) rem(16);
	font-size: rem(16);
	font-weight: 400;
}

@mixin btn-size-large {
	min-width: rem(100);
	height: rem(48);
	padding: rem(12) rem(24);
	font-size: rem(18);
	font-weight: 700;
}

@mixin btn-outline {
	background-color: #fff;
	color: #1e2124;
	border: 1px solid #1e2124;
	border-radius: rem(4);
	box-sizing: border-box;
	display: inline-block;
}

@mixin blind {
	position: absolute;
	display: inline-block;
	font-size: 1px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	visibility: hidden;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin ellipsis-multi($line: 2) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}
