/**
 * reset
 * -------------------
 */

* {
	padding: 0;
	margin: 0;
	font: inherit;
	letter-spacing: inherit;
	// word-break: keep-all;
	resize: none;
	appearance: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

// * document
//-------------------
html,
body {
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-touch-callout: none;
}

html {
	&:focus-within {
		scroll-behavior: smooth;
	}
}

body {
	position: relative;
	scroll-behavior: smooth;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

// * form
//-------------------
label {
	cursor: pointer;
}
fieldset {
	border: 0 none;
}
input {
	overflow: visible;
}
textarea {
	overflow: auto;
}

input,
select,
textarea {
	border: 0;
	border-radius: 0;
	background: none;
	vertical-align: middle;
}

button {
	overflow: visible;
	border: 0 none;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
	text-transform: none;
	appearance: button;
}

select {
	text-transform: none;
}
select::-ms-expand {
	display: none;
}

input[type='date'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='submit'],
input[type='tel'],
input[type='text'] {
	appearance: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='password']::-webkit-inner-spin-button,
input[type='search']::-webkit-inner-spin-button,
input[type='tel']::-webkit-inner-spin-button,
input[type='text']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='button'],
input[type='file'],
input[type='reset'],
input[type='submit'] {
	appearance: button;
	border-radius: 0;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	appearance: none;
}

[type='search'] {
	appearance: textfield;
	outline-offset: -2px;
}

::-webkit-file-upload-button {
	appearance: button;
	font: inherit;
}

// * link
//-------------------
a {
	color: inherit;
	border: 0;
	text-decoration: none;
	cursor: pointer;
}
a:active,
a:hover {
	text-decoration: none;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}

// * table
//-------------------
table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

caption {
	position: relative;
	width: 1px;
	height: 1px;
	color: transparent;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px 0 0;
}

summary {
	display: list-item;
}

// * etc
//-------------------
dl,
dt,
dd,
ul,
ol,
li,
menu {
	list-style: none;
}

blockquote,
q {
	quotes: none;
	&:before,
	&:after {
		content: '';
		content: none;
	}
}

img {
	max-width: 100%;
	border: 0 none;
}
picture {
	display: block;
	max-width: 100%;
	border: 0 none;
}

progress {
	vertical-align: baseline;
}

details {
	display: block;
}

[hidden] {
	display: none;
}
