 @use "../util/varibles" as *;
 @use "../util/mixins" as *;
 @use "../base/svg" as *;

/* Table_content */
.tab_contents_wrap{

	//화면 ID 두글자로 분리하여 가독성 높이기 위한...(2021.1222 : ing)
	// @ JS : Etc.pathSplit();
	table tr{
		&:hover td,
		&.focus td{
			&.path > a {
				.id_split{
					span:nth-child(2n){
						color: #0075ff; //text-shadow: 2px 2px 13px rgba(0,0,0,0.2);
					}
				}
				
			}
			&:not(.path) a{
				&:hover{
					color: #e40000;
					i{color: #e40000;}
				}
				
			}
		}
	}

	td.path:not(.no-link) > a:hover{
		text-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	}
}


//작업예정
// .tip{position: absolute; right: 0; top: 0;
// 	// position: absolute; right: 0; top: 0;
// 	&:after{content:''; position: absolute;right: 0;top: 0;width: 3px;height: 3px;background-color: red;}
// }



//2022.07.20: 추가
.tab_contents_wrap table tr.equal > td.path a{color:lightcoral;}
table .info a{display:inline-block;}




// TIP : Log & More POPUP
//-----------------------
.btn_more{position:absolute; top:50%;right:0px; margin-top: -6px;width: 11px;height: 11px;line-height: 0;background-color: #ccc;color:#ccc;border-radius:50%;opacity:1; transition: all  ease-in-out 0.26s;
	i{display: block; background: url($svg-arrow) 0 0 no-repeat;width: 100%; height:100%; }
	/*&.on{right:5px;opacity:1; transition: all  ease-in-out 0.26s}
	&.on:hover{color:#666;background-color: #666; }*/
	&:hover{color:#666;background-color: #666; }
}

.info_section{
	[data-ui="more"]{
		.btn_more{right: 0px;}
	}
}

table td.log,
[data-ui="more"]{
	font-size: 11px;
	position: relative;
	.btn_more{right: 5px;}


	dl{font-size: 0;
		dt, dd{display: inline-block;vertical-align: top;font-size: 11px;
			letter-spacing: -0.7px;
		}
		dt{
			margin-right: 0px;
			&.hide{display: none;}
		}
		dd{display: inline-block;}
		dd + dd{display: block;}
		&.is_date {
			dt{position: relative;padding:0 4px;margin-right: 4px;
				&:before{position: absolute;content:'['; left: 0px;}
				&:after{position: absolute;content:']'; right: 0px;}
			}
			dd + dd{margin-left: 15px;}
		}
		&.no_date dt{display: none;width: 1px; margin-right: -1px;}
	}
	dl+dl{margin-top: 1px;}
}

//Table 내 Position
[data-ui="more"][data-show="false"]{
	position: absolute; right: 0; top:50%; 
}


//Log
//-----------------------
table td.log{padding-right:15px;}


//Worklist.Guide 에서 사용 
//-----------------------
[data-page="todo"]{
	.tab_contents_wrap{
		details{
		}
		pre{
			max-height: 500px; 
			overflow: auto; 
			margin:10px; padding: 10px; border: 1px solid #ccc;
			font: 11px/1.5 "Malgun Gothic", Verdana, Dotum, sans-serif;
			white-space: pre-line;
		}

		details[open] pre {
			max-height: 300px; 
			transition: max-height 0.5s ease;
		}
		details pre {
			max-height: 0;
			transition: max-height 0.5s ease;
		}
	}
}


[data-page="directory"] {
	.tab_contents_wrap table {
		tr.black{
			td.path, td.path2{
				background-color: #000;
			}
		}
}