/********** 전체 scroll **********/
@include bp('md') {
	::-webkit-scrollbar {
		width: 18px; /* 수직 스크롤바의 너비 */
		height: 18px; /* 수평 스크롤바의 높이 */
		&-track {
			background: none; /* 트랙의 배경색 */
		}
		&-thumb {
			background: var(--grey-40) padding-box; /* 썸의 배경색 */
			border-radius: 10px; /* 둥근 모서리 적용 */
			border: 5px solid rgba(0, 0, 0, 0);
			&:hover {
				background: var(--grey-60) padding-box; /* 호버 시 색상 변경 */
				border-width: 2px;
			}
		}
	}
}


/* link & focus */
a.text-link {
	color: var(--primary-50);
	text-decoration: underline;
	text-underline-offset: 2px;
	word-break: break-all;

	&.noline-blk {
		//라인없고 블랙 버전
		color: var(--grey-90);
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: var(--primary-40);
	}
	&:active {
		color: var(--primary-60);
	}
	&:visited {
		color: #7511b3;
	}
}
a.no-style {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

a:focus,
button:focus {
	@include bp('md') {
		outline: 2px dashed currentColor;
		outline-offset: calc(0);
	}
}

.link-btn {
	flex: none;
	display: inline-flex;
	align-items: center;
	position: relative;
	padding: 0;
	border: none;
	background: none;
	color: var(--primary-50);
	text-decoration: underline;
	text-underline-offset: 2px;
	appearance: none;
	word-break: break-all;
	cursor: pointer;
	z-index: 5;

	&.ico-download {
		display: inline-block;
		&::after {
			content: '';
			display: inline-block;
			width: 2rem;
			height: 2rem;
			margin-left: 0.8rem;
			background: url(../assets/images/icon/q-icon-download-20-blue.svg) no-repeat center/contain;
			vertical-align: top;
			margin-top: 0.2rem;
		}
		&.c-white {
			color: #fff;
			&::after {
				background-image: url(../assets/images/icon/q-icon-download-20-white.svg);
			}
		}
	}
	&.ico-share {
		&::after {
			content: '';
			width: 2rem;
			height: 2rem;
			margin-left: 0.8rem;
			background: url(../assets/images/icon/q-icon-share-20-blue.svg) no-repeat center/contain;
		}
	}
	&.ico-blank {
		display: inline;
		&::after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 2rem;
			margin-left: 0.8rem;
			background: url(../assets/images/icon/q-icon-blank-blue.svg) no-repeat center/contain;
		}
	}
}


//btn
.more-btn {
	.q-btn__content {
		&::after {
			content: '';
			display: inline-block;
			width: 2rem;
			height: 2rem;
			margin-left: 0.4rem;
			background: url(../assets/images/icon/q-icon-down-20.svg) no-repeat center/contain;
		}
	}
}

.more-txt-btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--secondary-50);
	&::after {
		content: '';
		display: inline-block;
		width: 1.6rem;
		height: 1.6rem;
		margin-left: 0.6rem;
		background: url(../assets/images/icon/q-icon-plus-16-green.svg) no-repeat center/contain;
	}
}




.full-link-after::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



/* form class */
.tbl-style {
	width: 100%;
	border-top: 1px solid var(--grey-90);
	@include bpm('sm') {
		width: auto;
		margin: 0 -1.6rem;
		padding-top: 2rem;
		> *:last-child {
			margin-bottom: 0;
			> *:last-child .dl-row {
				margin-bottom: 0;
			}
		}
	}
}

.dl-row {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 3.2rem;
	font-size: var(--fz-sm);
	word-break: keep-all;
	@include bp('md') {
		flex-direction: row;
		height: 100%;
		margin-bottom: 0;
		border-bottom: 1px solid var(--grey-40);
	}
	@include bpm('sm') {
		padding: 0 1.6rem;
	}
	.dt {
		flex: none;
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 1.2rem;
		@include bp('md') {
			width: 21.7rem;
			min-height: 7.2rem;
			padding: 1.2rem 2.4rem;
			margin-bottom: 0;
			background-color: var(--grey-10);
		}
		.dt-label {
			font-weight: var(--fw-700);
			&.required {
				padding-right: 1rem;
				&::after {
					content: '';
					position: absolute;
					width: 4px;
					height: 4px;
					margin-left: 6px;
					border-radius: 2px;
					background-color: var(--danger-50);
				}
			}
		}
	}
	.dd {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1.2rem 0.8rem;
		min-width: 0;
		@include bp('md') {
			padding: 1.2rem 2.4rem;
		}
		.max-group {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 1.2rem 0.8rem;
			width: 100%;
			min-width: 0;
		}
		.width-md {
			width: 36rem;
		}
		&-text {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 1.2rem 0.8rem;
			min-height: var(--h-md);
			@include bpm('sm') {
				flex-direction: column;
				align-items: flex-start;
				min-height: auto;
			}
		}
		&-item {
			flex: none;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 1.6rem;
			min-height: var(--h-md);
			&.mobile-nospacing {
				@include bpm('xs') {
					margin: 0 -0.8rem;
				}
			}
		}
	}
}

.dd-in-group {
	@include bpm('sm') {
		width: 100%;
	}
	.dd-in-row {
		padding-top: 1.2rem;
		&:first-child {
			padding-top: 0;
		}
		@include bpm('sm') {
			padding-top: 1.6rem;
		}
		.dt-label-xs {
			display: inline-block;
			margin-bottom: 1.2rem;
			font-size: var(--fz-xs);
		}
	}
}

// 가로형 그룹 추가
.dd-in-colgroup {
	display: flex;
	gap: 1.2rem;
	@include bpm('sm') {
		display: block;
		width: 100%;
	}
	> .dd-in-col {
		max-width: 21.6rem;
		&:first-child {
			max-width: 6rem;
		}
		&:last-child {
			max-width: 6rem;
		}
		.dt-label-xs {
			display: inline-block;
			margin-bottom: 1.2rem;
			font-size: var(--fz-xs);
		}
		@include bpm('sm') {
			max-width: 100%;
			margin-top: 1.6rem;
			&:first-child {
				max-width: 100%;
				margin-top: 0;
			}
			&:last-child {
				max-width: 100%;
			}
		}
	}
}

.dd-in-add {
	@include bpm('sm') {
		width: 100%;
	}
	.add-list {
		li {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			gap: 0 0.8rem;
			padding-bottom: 1.2rem;
			min-width: 0;
			@include bpm('sm') {
				margin-bottom: 2.4rem;
				padding-bottom: 2rem;
				border-bottom: 1px solid var(--grey-40);
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 1.2rem;
					border-bottom: none;
				}
			}
			.add-form {
				display: flex;
				gap: 1.2rem 0.8rem;
				width: 100%;
				min-width: 0;
				max-width: 36rem;
				@include bpm('sm') {
					flex-direction: column;
					gap: 1.6rem 0;
					max-width: none;
					width: calc(100% - 5.6rem);
				}
				.add-cont {
					display: flex;
					flex-direction: column;
					@include bpm('sm') {
					}
					.add-label {
						display: inline-block;
						margin-bottom: 1.2rem;
						font-size: var(--fz-xs);
					}
				}
			}
		}
	}
}

.box-break {
	flex: none;
	width: 100%;
}

.form-msg {
	flex: none;
	display: flex;
	align-items: flex-start;
	width: 100%;
	font-size: var(--fz-xs);
	&-error {
		color: var(--danger-50);
	}
	&-hint {
		flex-wrap: wrap;
		color: var(--grey-70);
		> li {
			width: 100%;
		}
	}
	.q-icon {
		flex: none;
		margin: 0.1rem 0.4rem 0.1rem 0;
	}
}

// 파일 관련 메세지
.slash-list {
	display: flex;
	flex-wrap: wrap;
	> li {
		width: auto;
		&::before {
			content: '/';
			display: inline-block;
			padding: 0 0.5rem;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
	@include bpm('sm') {
		> li {
			width: 100%;
			&::before {
				display: none;
			}
		}
	}
}

/* splitter */
.splitter-height-auto {
	.q-splitter__before,
	.q-splitter__after {
		overflow: visible;
	}
}



//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

// layer proxy
.layer-proxy {
	border-radius: 0;
	box-shadow: none;
	background: none;
	overflow: visible;
	.q-dialog__inner--minimized {
		padding: 1.6rem;
	}
	.layer-wrapper {
		display: flex;
		flex-direction: column;
		width: 100vw;
		max-width: 32.8rem;
		max-height: 20.6rem;
		margin: 0 3.2rem;
		padding: 2.4rem 0;
		border: 1px solid var(--grey-30);
		border-radius: 2rem;
		box-shadow: 0px 0px 12px 0px #0000001f;
		background: var(--white);
	}
	.layer-head {
		flex: none;
		display: flex;
		align-items: center;
		padding: 0 2rem;
		margin-bottom: 2.4rem;
		.layer-tit {
			font-size: 2.1rem;
			font-weight: 700;
		}
		.btn-close {
			margin-left: auto;
		}
	}
	.layer-body {
		flex: 1;
		padding: 0 1.6rem;
		overflow: auto;
	}
}


/* guide */
.guide-box {
	margin: 2.4rem 0 4.8rem;
	padding: 2.4rem;
	border-radius: 1.6rem;
	background-color: var(--grey-30);
}


.subpage {
	&-head {
		padding: 2.4rem 0 2.8rem;
		background-color: var(--primary-5);
		@include bp('md') {
			padding: 2.8rem 0 4rem;
		}
		.btns {
			display: flex;
			justify-content: flex-end;
			gap: 2rem;
			color: var(--primary-50);
			@include bp('md') {
				gap: 4rem;
			}
			.q-focus-helper {
				transform: scale(1.5);
			}
			.q-btn--round {
				min-width: 2.4rem;
				min-height: 2.4rem;
				@include bp('md') {
					min-width: 2.8rem;
					min-height: 2.8rem;
				}
			}
		}
		.page-title {
			margin-top: 2.4rem;
			font-size: 2.9rem;
			@include bp('md') {
				margin-top: 0.4rem;
				font-size: 4rem;
			}
		}
		.page-description {
			margin-top: 0.8rem;
			font-size: 1.7rem;
			@include bp('md') {
				font-size: 2.1rem;
			}
		}
	}
}

.g-page {
	.g-content {
		max-width: calc(128rem + 4.8rem);
		min-height: 40rem;
		margin: 0 auto;
		padding: 6.4rem 2.4rem;
		@include bpm('ml') {
			min-height: auto;
		}
		@include bpm('sm') {
			padding: 4rem 1.6rem;
		}
		> *:first-child {
			margin-top: 0;
		}

		.g-in-lnb {
			display: flex;
			justify-content: space-between;
			@include bpm('sm') {
				flex-direction: column;
			}
			.g-lnb {
				width: 28.6rem;
				> *:first-child {
					margin-top: 0;
				}
				@include bpm('sm') {
					width: 100%;
				}
			}
			.g-in-content {
				padding-left: 4rem;
				width: calc(100% - 28.6rem);
				scroll-margin-top: 20.8rem;
				> *:first-child {
					margin-top: 0;
				}
				@include bpm('sm') {
					padding-top: 4rem;
					padding-left: 0;
					width: 100%;
					scroll-margin-top: 3.3rem;
				}
				.sports-detail-box {
					> *:first-child {
						margin-top: 0;
					}
					& + .sports-detail-box {
						margin-top: 6.4rem;
					}
				}
			}
		}
	}
}




.page-step {
	margin-top: 6.4rem;
	> ol {
		display: flex;
		@include bpm('sm') {
			justify-content: space-between;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 12px;
				right: 0;
				left: 0;
				height: 1px;
				background-color: var(--grey-40);
			}
		}
		> li {
			flex: 1;
			display: flex;
			flex-direction: column;
			position: relative;
			@include bpm('sm') {
				flex: none;
				&:last-child {
					.icon {
						margin-left: auto !important;
					}
				}
				&::before {
					display: none;
				}
			}
			&:not(:last-child)::before {
				content: '';
				position: absolute;
				top: 16px;
				right: 0;
				left: 0;
				height: 1px;
				background-color: var(--grey-40);
				@include bpm('sm') {
					top: 12px;
				}
			}
			.icon {
				position: relative;
				width: 28px;
				height: 28px;
				margin: 2px 0;
				border: 1px solid var(--grey-20);
				border-radius: 100%;
				background-color: var(--grey-20);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 16px;
				@include bpm('sm') {
					width: 20px;
					height: 20px;
				}
			}
			.step-num {
				display: flex;
				margin-top: 1.2rem;
				color: var(--grey-70);
				font-size: 1.5rem;
				@include bpm('sm') {
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					padding: 0;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: 0;
				}
			}
			.step-tit {
				display: flex;
				margin-top: 0.4rem;
				color: var(--grey-70);
				font-size: 1.9rem;
				font-weight: var(--fw-700);
				@include bpm('sm') {
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					padding: 0;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: 0;
				}
			}
			&.completed {
				&::before {
					background-color: var(--primary-60);
				}
				.icon {
					border-color: var(--primary-60);
					background-color: var(--primary-60);
					background-image: url(../assets/images/icon/q-icon-step-check.svg);
				}
				.step-tit {
					color: var(--primary-60);
				}
			}
			&[aria-current] {
				.icon {
					width: 32px;
					height: 32px;
					margin: 0;
					border-color: var(--primary-40);
					background-color: var(--white);
					background-image: url(../assets/images/icon/q-icon-step-current.svg);
					background-size: 20px;
					box-shadow: 0px 4px 8px 0px #00000040;
					@include bpm('sm') {
						width: 24px;
						height: 24px;
					}
				}
				.step-num {
					position: relative;
					width: auto;
					height: auto;
					margin: 1.2rem 0 0 0;
					overflow: hidden;
					clip: auto;
				}
				.step-tit {
					color: var(--primary-40);
				}
			}
		}
	}
	&.type2 {
		> ol {
			justify-content: space-between;
			width: 53rem;
			margin: auto;
			@include bpm('sm') {
				width: auto;
				&::before {
					content: '';
					left: 5px;
				}
			}
			> li {
				flex: none;
				align-items: center;
				&:not(:last-child)::before {
					content: '';
					left: 38px;
					width: calc(100% - -34rem);
					@include bpm('sm') {
						top: 12px;
					}
				}
			}
		}
	}
}


//title
.subtit {
	&-lg {
		margin: 6.4rem 0 2rem;
		font-size: 2.9rem;
		font-weight: 700;
		word-break: break-all;
		@include bpm('sm') {
			margin: 4rem 0 1.6rem;
			font-size: 2.3rem;
		}
	}
	&-md {
		margin: 4rem 0 1.6rem;
		font-size: 2.3rem;
		font-weight: 700;
		@include bpm('sm') {
			margin: 3.2rem 0 1.2rem;
			font-size: 2.1rem;
		}
	}
	&-sm {
		margin: 3.2rem 0 1.2rem;
		font-size: 2.1rem;
		font-weight: 700;
		@include bpm('sm') {
			margin-top: 2.4rem;
			font-size: 1.9rem;
		}
	}
	&-xs {
		display: block;
		margin: 2.8rem 0 2rem;
		font-size: 1.9rem;
		font-weight: 700;
		&-con {
			margin-top: 2rem;
		}
	}
	&-xxs {
		display: block;
		margin: 1.2rem 0 0.4rem;
		font-size: 1.7rem;
		font-weight: 600;
	}
}

.sublist {
	&-dot {
		margin-top: 1.6rem;
		color: var(--grey-80);
		@include bpm('sm') {
			margin-top: 1.2rem;
		}
		> li {
			display: block;
			position: relative;
			padding-left: 1.3rem;
			text-align: left;
			+ li {
				margin-top: 1.2rem;
			}
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 1rem;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 100%;
				background-color: var(--primary-50);
			}
			> .athletics-type {
				margin: 0;
				> dt {
					font-weight: 600;
				}
				> dd {
					margin: 0;
				}
			}
		}
		&.ver-pad-lg {
			> li {
				padding-bottom: 1.2rem;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		> .has-inner-desc {
			flex-wrap: wrap;
			@include bpm('sm') {
				position: relative;
				padding-left: 1.3rem;
				&::before {
					position: absolute;
					left: 0;
				}
			}
			li {
				padding: 1.2rem 0 0 1.3rem;
				@include bpm('sm') {
					padding-left: 0;
				}
			}
		}
	}
	// 개요 텍스트 리스트 타입
	&-num-circle {
		padding-top: 0.2rem;
		li {
			display: flex;
			position: relative;
			padding-left: 4.8rem;
			box-sizing: border-box;
			min-height: 3.2rem;
			@include bpm('sm') {
				padding-left: 4rem;
			}
			& + li {
				margin-top: 1.2rem;
			}
			&.direction {
				flex-direction: column;
				p {
					margin-top: 1.2rem;
				}
			}
			.num-circle {
				display: inline-flex;
				position: absolute;
				left: 0;
				top: -0.2rem;
				justify-content: center;
				align-items: center;
				width: 3.2rem;
				height: 3.2rem;
				background-color: var(--secondary-50);
				border-radius: 50%;
				color: var(--grey-0);
				font-weight: var(--fw-600);
			}
		}
		&.c-blue {
			li {
				.num-circle {
					background-color: var(--primary-50);
				}
			}
		}
	}
	&-default {
		> li {
			text-align: left;
			& + li {
				margin-top: 1.2rem;
			}
		}
	}
}

.text-list {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

// 타이틀 우측 버튼
.right-btn {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.2rem;
}
.subtit-lg + .right-btn {
	margin-top: calc(-4rem - 2rem);
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: calc(-3.2rem - 1.6rem);
		margin-bottom: 1.6rem;
	}
}
.subtit-md + .right-btn {
	margin-top: calc(-4rem - 1.6rem);
	margin-bottom: 1.6rem;
	@include bpm('sm') {
		margin-top: calc(-3.2rem - 1.2rem);
		margin-bottom: 1.2rem;
	}
}

// 타이틀 우측 필수사항
.desc-required {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	line-height: 2.3rem;
	@include bpm('sm') {
		justify-content: flex-start;
	}
	&::before {
		flex: none;
		content: '';
		width: 0.4rem;
		height: 0.4rem;
		margin: 0.9rem 0.4rem 1rem 0;
		border-radius: 100%;
		background-color: var(--danger-50);
	}
}
.subtit-lg + .desc-required,
.subtit-lg + .desc-subtext {
	margin-top: calc(-2.3rem - 2rem);
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}
}
.subtit-md + .desc-required,
.subtit-md + .desc-subtext {
	margin-top: calc(-2.3rem - 1.6rem);
	margin-bottom: 1.6rem;
	@include bpm('sm') {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}
}

// 타이틀 우측 기본 텍스트
.desc-subtext {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	line-height: 2.3rem;
	@include bpm('sm') {
		justify-content: flex-start;
	}
}

//타이틀 우측 더보기 버튼
.right-more-btn {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.2rem;
}
.subtit-lg + .right-more-btn {
	margin-top: calc(-2.6rem - 2rem);
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: calc(-2.6rem - 1.6rem);
		margin-bottom: 1.6rem;
	}
}

// 타이틀 우측 required + btn
.required-btn-box {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 1.2rem 0;
	@include bpm('sm') {
		justify-content: space-between;
		width: 100%;
		margin: 1.2rem 0;
	}
	.desc-required {
		margin-bottom: 0;
	}
	.right-btn {
		margin-left: 2rem;
		margin-bottom: 0;
		@include bpm('sm') {
			margin-left: 0.8rem;
		}
	}
}
.subtit-lg + .required-btn-box {
	margin-top: calc(-4rem - 2rem);
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
	&.fixed-xs {
		margin-top: calc(-3.2rem - 2rem);
		@include bpm('sm') {
			margin-top: 0;
		}
	}
}
.subtit-md + .required-btn-box {
	margin-top: calc(-4rem - 1.6rem);
	margin-bottom: 1.6rem;
	@include bpm('sm') {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
	&.fixed-xs {
		margin-top: calc(-3.2rem - 1.6rem);
		@include bpm('sm') {
			margin-top: 0;
		}
	}
}
.subtit-sm + .required-btn-box {
	&.fixed-xs {
		margin-top: calc(-3.2rem - 1.2rem);
		@include bpm('sm') {
			margin-top: 0;
		}
	}
}

// 타이틀 우측 required + subtext
.required-subtext-box {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	@include bpm('sm') {
		justify-content: space-between;
		width: 100%;
		margin: 1.2rem 0;
	}
	.desc-required {
		margin-bottom: 0;
	}
	.desc-subtext {
		margin-left: 2rem;
		margin-bottom: 0;
		@include bpm('sm') {
			margin-left: 0.8rem;
		}
	}
}
.subtit-lg + .required-subtext-box {
	margin-top: calc(-2.3rem - 2rem);
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
}
.subtit-md + .required-subtext-box {
	margin-top: calc(-2.3rem - 1.6rem);
	margin-bottom: 1.6rem;
	@include bpm('sm') {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
}
.subtit-sm + .required-subtext-box {
	margin-top: calc(-2.3rem - 1.2rem);
	margin-bottom: 1.2rem;
	@include bpm('sm') {
		margin-top: 0;
		margin-bottom: 1.2rem;
	}
}

// 타이틀 우측 서브 탭 버튼
.subtab-btn-box {
	display: flex;
	justify-content: flex-end;
	.btn-list {
		display: flex;
		li {
			position: relative;
			padding: 0 2rem;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 1.6rem;
				background-color: var(--grey-40);
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
				&:after {
					display: none;
				}
			}
			.subtab-btn {
				display: inline-flex;
				padding: 0;
				align-items: center;
				border: none;
				border-radius: 0.6rem;
				background: none;
				color: var(--grey-90);
				font-size: 1.7rem;
				line-height: 1.5;
				text-decoration: none;
				color: var(--grey-60);
				cursor: pointer;
				&[aria-selected='true'] {
					color: var(--primary-50);
					font-weight: var(--fw-600);
				}
				&:hover {
					background-color: var(--secondary-5);
				}
				&.disabled,
				&[disabled] {
					background-color: transparent;
					color: var(--grey-50);
					opacity: 1 !important;
				}
			}
		}
	}
}
.subtit-lg + .subtab-btn-box {
	margin-top: -4.6rem;
	margin-bottom: 2rem;
	@include bpm('sm') {
		margin-top: -4.2rem;
		margin-bottom: 1.6rem;
	}
}


/***** 서브컨텐츠 *****/


.sub-search-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 0.8rem;
	padding: 2.4rem 3.2rem;
	margin-bottom: 4rem;
	border: 1px solid var(--grey-30);
	border-radius: 1.2rem;
	background-color: var(--grey-5);
	@include bpm('sm') {
		gap: 1.2rem;
		padding: 2.4rem 1.6rem;
		margin: 0 -1.6rem 3.2rem;
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
	.ss-table {
		flex: 1;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1.6rem 0;
		max-width: 50%;
		&.col2 {
			grid-template-columns: auto 1fr auto 1fr;
			max-width: none;
		}
		&.col2-half-left {
			grid-template-columns: auto 1fr auto 1fr auto 2fr;
			max-width: none;
		}
		&.col3 {
			grid-template-columns: auto 1fr auto 1fr auto 1fr;
			max-width: none;
		}
		@include bpm('sm') {
			grid-template-columns: 1fr !important;
			gap: 1.2rem 0;
			max-width: none;
			.none {
				display: none !important;
			}
		}
		.ss-tr {
			display: contents;
			@include bpm('sm') {
				&:first-child {
					.ss-th {
						&:first-child {
							margin-top: 0;
						}
					}
				}
			}
			.ss-th {
				display: inline-flex;
				justify-content: flex-end;
				align-items: center;
				&:not(:first-child) {
					padding-left: 3.2rem;
				}
				@include bpm('sm') {
					justify-content: flex-start;
					margin-top: 2rem;
					&:not(:first-child) {
						padding-left: 0;
					}
				}
			}
			.ss-label {
				position: relative;
				margin-right: 1.6rem;
				font-weight: var(--fw-700);
				white-space: nowrap;
				&.required {
					padding-right: 1rem;
					&::after {
						content: '';
						position: absolute;
						width: 4px;
						height: 4px;
						margin-left: 6px;
						border-radius: 2px;
						background-color: var(--danger-50);
					}
				}
			}
			.ss-td {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 0.8rem;
				.dd-item.dtpk {
					margin: 0 -0.4rem;
				}
				.ss-type {
					max-width: 40%;
					@include bpm('xs') {
						flex: none;
						width: 100%;
						max-width: none;
					}
				}
				.ss-label {
					margin-left: 2.4rem;
					margin-right: 0.8rem;
				}
			}
		}
	}
	.form-msg {
		max-width: calc(50% + 6.935rem);
		margin: 0.4rem auto 0 auto;
		@include bpm('sm') {
			max-width: none;
			margin: 0 auto;
		}
	}
}

// board
.board-list {
	&.with-view {
		//상세랑 같이 있을 경우
		padding-bottom: 4rem;
		border-bottom: 1px solid var(--grey-40);
		@include bpm('sm') {
			margin: 0 -1.6rem;
			padding: 0 1.6rem 2rem;
		}
	}
	.bo-head {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 1.2rem;
		.total {
			display: flex;
			align-items: center;
			line-height: 3.2rem;
			.cnt {
				margin-left: 0.8rem;
				font-weight: var(--fw-700);
			}
			.custom-select {
				margin-left: 1.6rem;
			}
		}
	}
	.bo-step {
		display: flex;
		align-items: center;
		li {
			display: inline-flex;
			align-items: center;
			color: var(--grey-50);
			&:not(:first-child) {
				&::before {
					content: '';
					display: inline-flex;
					width: 2rem;
					height: 2rem;
					margin: 0 0.4rem;
					background: url(../assets/images/icon/q-icon-right-20.svg) no-repeat center/contain;
				}
			}
			&[aria-current='step'] {
				color: var(--grey-90);
				font-weight: var(--fw-700);
			}
		}
	}
	.bo-body {
		position: relative;
		.bo-table-tit {
			padding: 0.8rem 0;
			border-top: 1px solid var(--grey-90);
			background-color: var(--grey-10);
			font-size: var(--fz-sm);
			font-weight: var(--fw-700);
			text-align: center;
			@include bpm('sm') {
				padding: 0 0 1.2rem 0;
				border-top: none;
				background-color: transparent;
				font-weight: var(--fw-600);
				text-align: left;
			}
			& + .bo-table {
				border-top: 1px solid var(--grey-40);
				@include bpm('sm') {
					border-top: 1px solid var(--grey-90);
				}
				thead {
					tr {
						th {
							padding: 0.8rem 1.6rem;
						}
					}
				}
			}
		}
		.bo-table {
			position: relative;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			border-top: 1px solid var(--grey-90);

			caption {
				position: absolute !important;
				width: 1px !important;
				height: 1px !important;
				margin: -1px !important;
				padding: 0 !important;
				overflow: hidden !important;
				clip: rect(0, 0, 0, 0) !important;
				border: 0 !important;
			}
			tr {
				position: relative;
			}
			th {
				padding: 1.6rem;
				background-color: var(--grey-10);
				font-weight: var(--fw-700);
				text-align: center;
			}
			td {
				padding: 1.6rem;
				border-bottom: 1px solid var(--grey-40);
				text-align: center;
				&.num {
					white-space: nowrap;
				}
				&.title {
					text-align: left;
					a {
						display: block;
						color: var(--grey-90);
						text-decoration: none;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						&:hover {
							text-decoration: underline;
						}
						@include bpm('sm') {
							&:focus {
								outline: none;
							}
						}
					}
					.q-badge {
						margin: 1px 0 0 1.2rem;
						vertical-align: top;
					}
				}
				&.actions {
					.q-btn.custom-btn {
						@include bp('md') {
							min-height: 2.6rem;
							padding-top: 0;
							padding-bottom: 0;
							border-radius: 0.4rem;
						}
					}
				}
			}
			td {
				&.align-left {
					text-align: left;
				}
				&.align-right {
					text-align: right;
				}
			}
			&.bo-multi-data {
				th {
					padding: 1.6rem 1rem;
				}
				td {
					padding: 1.6rem 1rem;
					@include bpm('sm') {
						padding: 0;
					}
				}
			}
			&.with-delete {
				tr {
					td:first-child {
						width: calc(100% - 4rem);
					}
				}
			}
			&.nodata {
				td {
					padding: 0;
				}
			}
			// 반응형
			@include bpm('sm') {
				display: flex;
				width: auto;
				margin-right: -1.6rem;
				margin-left: -1.6rem;
				colgroup,
				thead {
					position: absolute !important;
					width: 1px !important;
					height: 1px !important;
					margin: -1px !important;
					padding: 0 !important;
					overflow: hidden !important;
					clip: rect(0, 0, 0, 0) !important;
					border: 0 !important;
				}
				tbody {
					display: flex;
					flex-direction: column;
					width: 100%;
				}
				tr {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					gap: 0.4rem 2.4rem;
					position: relative;
					padding: 2rem 1.6rem;
					border-bottom: 1px solid var(--grey-40);
				}
				td {
					display: block;
					padding: 0;
					border: none;
					text-align: left;
					&:not(.title, .actions, .no-btit)::before {
						content: attr(b-title);
						margin-right: 0.8rem;
						font-weight: var(--fw-600);
						white-space: nowrap;
					}
					&.num,
					&.no-btit {
						width: 100%;
					}
					&.title {
						width: 100%;
						margin-bottom: 0.8rem;
					}
					&.actions {
						gap: 0.8rem;
						width: 100%;
						margin-top: 0.8rem;
						.q-btn.custom-btn {
							width: 100%;
						}
						&.ver-circle {
							@include bpm('sm') {
								width: auto;
								position: absolute;
								top: 2rem;
								right: 1.6rem;
								margin-top: 0;
							}
						}
					}
				}
				&.nodata {
					tr {
						padding: 0;
					}
					td {
						width: 100%;
					}
				}
			}
		}
		.bo-list {
			width: 100%;
			border-top: 1px solid var(--grey-90);
			@include bpm('sm') {
				width: auto;
				margin-right: -1.6rem;
				margin-left: -1.6rem;
			}
			.bo-list-tit {
				padding: 1.6rem;
				background-color: var(--grey-10);
				font-size: 1.7rem;
				text-align: center;
			}
			.bo-list-con {
				> li {
					display: flex;
					align-items: center;
					position: relative;
					padding: 2.4rem;
					border-bottom: 1px solid var(--grey-40);
					@include bpm('sm') {
						flex-direction: column;
						align-items: flex-start;
						padding: 2rem 1.6rem;
					}
					.inbox {
						flex: 1;
						width: 100%;
						+ .link-btn {
							margin-left: 4rem;
							@include bpm('sm') {
								margin: 0.4rem 0 0 0;
							}
						}
					}
					.txt-type {
						display: block;
						margin-bottom: 0.4rem;
						color: var(--grey-70);
						font-size: 1.5rem;
						font-weight: 400;
					}
					.title {
						display: inline-flex;
						margin-bottom: 0.8rem;
						color: var(--grey-90);
						font-size: 2.1rem;
						font-weight: 600;
						text-decoration: none;
						@include bpm('sm') {
							margin-bottom: 1.2rem;
							font-size: 1.9rem;
						}
					}
					a.title:hover {
						text-decoration: underline;
					}
					.text {
						width: 100%;
					}
					.infobox {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						gap: 0.4rem 2rem;
						dl {
							display: block;
							align-items: center;
							margin: 0;
							dt {
								display: inline;
								margin-right: 0.8rem;
								font-weight: 600;
							}
							dd {
								display: inline;
								margin: 0;
							}
							&.full-blue {
								width: 100%;
								color: var(--primary-50);
								margin-bottom: 0.4rem;
								@include bpm('sm') {
									margin-bottom: 0rem;
								}
								dt {
									font-weight: 700;
								}
							}
						}
					}
				}
			}
		}
		.bo-optgroup {
			position: relative;
			padding: 1.2rem 0;
			width: auto;
			border-collapse: collapse;
			border-top: 1px solid var(--grey-90);
			border-bottom: 1px solid var(--grey-40);

			@include bpm('sm') {
				margin: 0 -1.6rem 0 -1.6rem;
				padding: 2rem 1.6rem;
			}

			.opt-greybox {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				gap: 2rem;

				& > div {
					display: flex;
					align-items: center;
					margin: 0;
					width: calc(50% - 2rem / 2);
					min-height: 7.7rem;
					border: 1px solid var(--grey-30);
					border-radius: 1.2rem;
					background-color: var(--grey-5);

					@include bpm('sm') {
						width: 100%;
					}
					.q-radio {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						padding: 1.2rem;
						&__inner {
							background-image:
								url(../assets/images/common/icon-20-radio-off.svg),
								url(../assets/images/common/icon-20-radio-on.svg);
							background-repeat: no-repeat, no-repeat;
							background-position:
								center center,
								-999rem center;
							background-color: var(--white);
							font-size: 2.4rem;
							&--truthy {
								background-position:
									-999rem center,
									center center;
							}
						}
						&__bg {
							display: none;
						}
						&__label {
							margin-left: 0.8rem;
							color: var(--grey-90);
							font-size: var(--fz-md);
						}
						&:not(.disabled):focus .q-radio__inner:before,
						&:not(.disabled):hover .q-radio__inner:before {
							transform: scale3d(1.8, 1.8, 1);
						}
						&.disabled,
						&[disabled] {
							.q-radio__ {
								&inner {
									background-image:
										url(../assets/images/common/icon-20-radiodisable-off.svg),
										url(../assets/images/common/icon-20-radiodisable-on.svg);
									color: var(--grey-40);
								}
								&label {
									color: var(--grey-50);
								}
							}
						}
					}
				}
			}
		}
		.bo-card-list {
			width: 100%;
			padding-top: 2rem;
			border-top: 1px solid var(--grey-90);
			@include bpm('sm') {
				width: auto;
				margin-right: -1.6rem;
				margin-left: -1.6rem;
			}
			.bo-card-con {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				gap: 4.8rem;
				@include bpm('md') {
					padding: 0 1.6rem;
				}
				@include bpm('sm') {
					gap: 3.2rem;
				}
				@include bpm('xs') {
					width: 100%;
					flex-direction: column;
					align-items: center;
					gap: 2.4rem 0;
				}
				li {
					width: calc(100% / 4 - 4.8rem / 4 * 3);
					@include bpm('md') {
						width: calc(100% / 3 - 4.8rem / 3 * 2);
					}
					@include bpm('sm') {
						width: calc(100% / 2 - 3.2rem / 2 * 1);
					}
					@include bpm('xs') {
						width: 100%;
					}
					.card-box {
						display: flex;
						flex-direction: column;
						height: 100%;
						.card-img {
							display: block;
							flex: none;
							width: 100%;
							margin: 0 auto;
							border: 1px solid var(--grey-40);
							@include bpm('sm') {
								max-width: 15.7rem;
							}
							@include bpm('xs') {
								max-width: 15.7rem;
							}
						}
						.card-img-name {
							display: inline-block;
							width: 100%;
							margin: 2rem auto;
							padding: 0;
							border: none;
							text-align: left;
							text-decoration: none;
							background-color: transparent;
							font-size: var(--fz-md);
							font-weight: var(--fw-700);
							color: var(--grey-90);
							word-break: break-all;
							cursor: pointer;
							@include bpm('sm') {
								margin: 1.2rem 0;
								text-align: center;
							}
							&:hover,
							&:focus {
								text-decoration: underline;
							}
						}
						.card-btn-box {
							display: flex;
							margin-top: auto;
							width: 100%;
							.type-square {
								display: flex;
								align-items: center;
								justify-content: center;
								text-decoration: none;
								flex: 1;
								min-width: 50%;
								min-height: 5.2rem;
								padding: 0.4rem;
								box-sizing: border-box;
								font-size: var(--fz-sm);
								font-weight: var(--fw-700);
								line-height: 1.5;
								text-transform: none;
								background-color: var(--secondary-50);
								color: #fff;
								cursor: pointer;
								@include bpm('sm') {
									min-height: 4.8rem;
								}
								&:hover,
								&:focus {
									background-color: var(--secondary-70);
									transition: 0.2s ease-in-out;
								}
								&.disabled,
								&[disabled] {
									background-color: var(--grey-30);
									color: var(--grey-60);
									opacity: 1 !important;
									&::before {
										border: 1px solid var(--grey-40);
									}
								}
								&.ico-left {
									color: var(--secondary-50);
									border: 1px solid var(--secondary-50);
									background-color: transparent;
									border-radius: 0;
									background-color: var(--white);
									> span {
										position: relative;
										padding-right: 2rem;
										&::after {
											content: '';
											position: absolute;
											top: 0.5rem;
											right: 0;
											display: inline-block;
											width: 1.6rem;
											height: 1.6rem;
											background: url(../assets/images/icon/q-icon-btn-arr-green.svg)
												no-repeat center/contain;
										}
									}
									&:hover,
									&:focus {
										background-color: var(--secondary-5);
										color: var(--secondary-50);
									}
								}
								&.ico-download {
									> span {
										display: block;
										position: relative;
										padding-right: 2rem;
										&::after {
											content: '';
											display: inline-block;
											position: absolute;
											top: 0.5rem;
											right: 0;
											margin-left: 0.4rem;
											width: 1.6rem;
											height: 1.6rem;
											background: url(../assets/images/icon/q-icon-btn-down.svg)
												no-repeat center/contain;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// 게시판 보기형식
.q-btn-toggle {
	&.btn-viewtype {
		display: flex;
		gap: 1.2rem;
		align-self: flex-end;
		border-radius: 0;
		box-shadow: none;
		> .q-btn-item {
			width: 4.8rem;
			height: 4.8rem;
			padding: 0;
			border-radius: 50%;
			background-repeat: no-repeat !important;
			background-position: center !important;
			background-size: 2.8rem !important;
			&:hover,
			&:focus {
				box-shadow: 0 0 2px 2px var(--grey-90);
			}
			.block {
				position: absolute !important;
				width: 1px !important;
				height: 1px !important;
				margin: -1px !important;
				padding: 0 !important;
				overflow: hidden !important;
				clip: rect(0, 0, 0, 0) !important;
				border: 0 !important;
			}
			&.card-btn {
				background-image: url(../assets/images/icon/q-icon-viewtype-card-off.svg) !important;
			}
			&.list-btn {
				background-image: url(../assets/images/icon/q-icon-viewtype-list-off.svg) !important;
			}
			&[aria-pressed='true'] {
				background-color: var(--primary-5) !important;
				&.card-btn {
					background-image: url(../assets/images/icon/q-icon-viewtype-card-on.svg) !important;
				}
				&.list-btn {
					background-image: url(../assets/images/icon/q-icon-viewtype-list-on.svg) !important;
				}
			}
		}
	}
}

// 카드형 리스트
.card-txtlist {
	display: flex;
	flex-wrap: wrap;
	gap: 2.4rem;
	@include bpm('sm') {
		gap: 1.6rem;
	}
	> li {
		width: calc(100% / 3 - 2.4rem / 3 * 2);
		padding: 3.2rem 2.8rem;
		border: 1px solid var(--grey-30);
		border-radius: 1.2rem;
		@include bpm('md') {
			width: calc(100% / 2 - 2.4rem / 2);
		}
		@include bpm('sm') {
			padding: 2rem;
		}
		@include bpm('xs') {
			width: 100%;
		}
		.card-txtlist-tit {
			display: flex;
			font-size: var(--fz-md);
			font-weight: var(--fw-700);
			margin-bottom: 2.4rem;
			&.with-ico {
				justify-content: space-between;
			}
			> .link-icon {
				display: flex;
				width: 2.4rem;
				height: 2.4rem;
				margin-left: 1.6rem;
			}
			@include bpm('sm') {
				margin-bottom: 1.6rem;
			}
		}
		dl {
			display: flex;
			flex-wrap: wrap;
			gap: 1.2rem 0;
			margin: 0;
			@include bpm('sm') {
				gap: 0.8rem 0;
			}
			dt {
				flex: none;
				width: 12rem;
				margin-right: 2.4rem;
				font-weight: 700;
				@include bpm('sm') {
					width: 9rem;
					margin-right: 0.8rem;
				}
			}
			dd {
				width: calc(100% - 14.4rem);
				margin-left: 0;
				font-weight: 400;
				word-break: break-all;
				@include bpm('sm') {
					width: calc(100% - 9.8rem);
				}
			}
		}
		.inbox {
			display: block;
			margin: -3.2rem -2.8rem;
			padding: 3.2rem 2.8rem;
			border-radius: 1.2rem;
			box-sizing: border-box;
			text-decoration: none;
			color: var(--grey-90);
			@include bpm('sm') {
				margin: -2rem;
				padding: 2rem;
			}
			&:hover,
			&:focus {
				.card-txtlist-tit {
					text-decoration: underline;
				}
			}
		}
		button.inbox {
			//버튼일 경우
			border: none;
			background: none;
			margin: -3.2rem -2.8rem;
			padding: 3.2rem 2.8rem;
			text-align: left;
			cursor: pointer;
			@include bpm('sm') {
				margin: -2rem;
				padding: 2rem;
			}
		}
	}
}

.inbox-icon {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 4.8rem;
	height: 6.2rem;
	margin-right: 4rem;
	background-image: url(../assets/images/del/img-medal-ranking.png);
	background-repeat: no-repeat;
	background-size: contain;
	@include bpm('sm') {
		margin-right: 0;
	}
	.medal-txt {
		padding: 1.4rem 0 0 0;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.2rem;
		text-align: center;
		word-break: break-all;
		color: #fff;
		-webkit-text-stroke: 0.2px #fff;
		> .unit {
			display: inline-block;
			margin-left: 0.1rem;
			font-size: 1rem;
			font-weight: 400;
		}
	}
	&.gold {
		background-image: url(../assets/images/del/img-medal-gold.png);
		.medal-txt {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: -1px !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			border: 0 !important;
		}
	}
	&.silver {
		background-image: url(../assets/images/del/img-medal-silver.png);
		.medal-txt {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: -1px !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			border: 0 !important;
		}
	}
	&.bronze {
		background-image: url(../assets/images/del/img-medal-bronze.png);
		.medal-txt {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: -1px !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			border: 0 !important;
		}
	}
	&.ranking {
		background-image: url(../assets/images/del/img-medal-ranking.png);
	}

	& + .inbox {
		padding: 0.8rem 0;

		@include bpm('sm') {
			padding: 1.2rem 0 0 0;
		}
	}
}

.board-view {
	border-top: 1px solid var(--grey-90);
	@include bpm('sm') {
		margin-right: -1.6rem;
		margin-left: -1.6rem;
	}
	.bo-title {
		padding: 2rem 2.4rem;
		font-size: 2.3rem;
		font-weight: 700;
		@include bpm('sm') {
			padding: 2rem 1.6rem;
			font-size: 1.9rem;
		}
	}
	.bo-title-wrap {
		display: flex;
		align-items: flex-start;
		gap: 0 1.2rem;
		padding: 2rem 2.4rem;
		@include bpm('sm') {
			gap: 1.2rem 0;
			flex-direction: column;
			padding: 2rem 1.6rem;
		}
		.custom-badge {
			margin-top: 0.6rem;
			@include bpm('sm') {
				margin-top: 0rem;
			}
		}
		.bo-title {
			padding: 0;
		}
	}
	.bo-info {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-top: 1px solid var(--grey-40);
		caption {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: -1px !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			border: 0 !important;
		}
		th {
			width: 16rem;
			padding: 1.2rem 2.4rem;
			border-bottom: 1px solid var(--grey-40);
			background-color: var(--grey-10);
			font-weight: 700;
			text-align: left;
		}
		td {
			padding: 1.2rem 2.4rem;
			border-bottom: 1px solid var(--grey-40);
			text-align: left;
			word-break: break-all;
		}
		tr.att-area {
			td {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
			.att-files {
				li + li {
					margin-top: 1.6rem;
				}
				.att-file {
					display: inline-flex;
					padding-left: 2.8rem;
					background: url(../assets/images/icon/q-icon-download-20-blue.svg) no-repeat 0
						0.3rem/2rem;
					color: var(--grey-90);
					text-decoration: none;
				}
			}
		}
		// 반응형
		@include bpm('sm') {
			display: flex;
			width: auto;
			colgroup,
			th {
				position: absolute !important;
				width: 1px !important;
				height: 1px !important;
				margin: -1px !important;
				padding: 0 !important;
				overflow: hidden !important;
				clip: rect(0, 0, 0, 0) !important;
				border: 0 !important;
			}
			tbody {
				display: flex;
				flex-wrap: wrap;
				gap: 0.4rem 2.4rem;
				width: 100%;
				padding: 1.2rem 1.6rem;
				border-bottom: 1px solid var(--grey-40);
			}
			tr {
				display: inline-flex;
				flex-wrap: wrap;
				gap: 0.4rem 2.4rem;
				&.att-area {
					width: calc(100% + 3.2rem);
					margin: 0.8rem -1.6rem -1.2rem;
					padding: 2rem 1.6rem;
					background-color: var(--grey-5);
					td {
						width: 100%;
						padding: 0;
						&::before {
							display: block;
							width: 100%;
							margin: 0 0 0.8rem 0;
						}
					}
					.att-files {
						li + li {
							margin-top: 0.8rem;
						}
						.att-file {
							padding-left: 2.4rem;
							background-size: 1.6rem;
							font-size: 1.5rem;
						}
					}
				}
			}
			td {
				display: block;
				padding: 0;
				border: none;
				text-align: left;
				&::before {
					content: attr(b-title);
					margin-right: 0.8rem;
					font-weight: var(--fw-600);
					white-space: nowrap;
				}
			}
		}
	}
	.bo-content {
		padding: 4rem;
		border-bottom: 1px solid var(--grey-40);
		@include bpm('sm') {
			padding: 2rem 1.6rem;
		}
		> img {
			max-width: 100%;
		}
		.video-sec {
			display: flex;
			flex-direction: column-reverse;

			.q-tabs.custom-tabs {
				margin: 0;
				@include bpm('sm') {
					border-right: 1px solid var(--grey-40);
				}
			}
		}
		.desc-sec {
			margin-top: 4rem;
			@include bpm('sm') {
				margin-top: 2rem;
			}
			.hashtag-list {
				display: flex;
				flex-wrap: wrap;
				gap: 0.4rem 1.2rem;
				.tag-link {
					display: inline-block;
					color: var(--primary-50);
				}
			}
		}
	}
}

.board-answer {
	border-top: 1px solid var(--grey-40);
	@include bpm('sm') {
		margin-right: -1.6rem;
		margin-left: -1.6rem;
	}
	.answer-info {
		padding: 1.2rem 2.4rem;
		border-bottom: 1px solid var(--grey-40);
		background-color: var(--grey-10);
		font-weight: 700;
		@include bpm('sm') {
			padding: 1.2rem 1.6rem;
			background-color: #fff;
		}
	}
	.answer-content {
		padding: 4rem;
		border-bottom: 1px solid var(--grey-40);
		word-break: break-all;
		@include bpm('sm') {
			padding: 2rem 1.6rem;
		}
	}
}


// nodata
.box-nodata {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6.4rem 3.2rem;
	color: var(--grey-50);
	font-size: 2.3rem;
	font-weight: 400;
	text-align: center;
	.icon-nodata {
		width: 10rem;
		height: 10rem;
		margin: 0 0 2.4rem;
		background: url(../assets/images/common/icon-nodata.svg) no-repeat center/contain;
	}
	@include bpm('sm') {
		padding: 4rem 1.6rem;
		font-size: 1.7rem;
		.icon-nodata {
			width: 8rem;
			height: 8rem;
			margin-bottom: 1.6rem;
		}
	}
	&.ver-page {
		// 임시 : 404, 500 에러
		max-width: 132.8rem;
		min-height: 40rem;
		margin: 0 auto;
		padding: 6.4rem 2.4rem;
		align-items: unset;
		@include bpm('sm') {
			padding: 4rem 1.6rem;
			min-height: auto;
		}
		.icon-nodata {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.data-table {
	position: relative;
	overflow-x: auto;
	@include bpm('sm') {
		margin-right: -1.6rem;
		margin-left: -1.6rem;
	}
	.scroll-indicator {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../assets/images/common/icon-scroll-indicator.svg) no-repeat center
			4.8rem/6.4rem;
		pointer-events: none;
	}
	table {
		width: 100%;

		border-collapse: collapse;
		border-left: 1px solid var(--grey-40);
		@include bpm('sm') {
			min-width: 1024px;
		}
		caption {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			margin: -1px !important;
			padding: 0 !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			border: 0 !important;
		}
		thead {
			height: 5.8rem;
			tr:first-child {
				th {
					border-top-color: var(--grey-90);
					// 2025-03-11 KPC소개 추가
					&.align-left {
						text-align: left;
					}
				}
			}
		}
		th {
			padding: 0.8rem 1.6rem;
			border-top: 1px solid var(--grey-40);
			border-right: 1px solid var(--grey-40);
			background-color: var(--grey-10);
		}
		td {
			padding: 1.6rem 2rem;
			border-bottom: 1px solid var(--grey-40);
			border-right: 1px solid var(--grey-40);
			text-align: center;
			&.align-left {
				text-align: left;
			}
			&.align-right {
				text-align: right;
			}

			// 2025-03-11 KPC소개 추가
			&.align-top-left {
				vertical-align: top;
				text-align: left;
			}
			> .sublist-dot:first-child {
				margin-top: 0;
			}
			> .sublist-dot {
				> li {
					> ul {
						> li {
							margin-top: 0.8rem;
						}
					}
				}
			}
			.align-left {
				text-align: left;
			}
		}
		tfoot {
			font-weight: var(--fw-700);
		}
	}
	+ .inner-desc {
		li {
			padding: 1.2rem 0 0 1.3rem;
		}
	}
	&.no-privacy-info {
		@include bpm('sm') {
			margin: 0;
		}
		table {
			border-top: 1px solid var(--grey-90);
			@include bpm('sm') {
				min-width: 100%;
			}
		}
	}
}

// (공통) 완료페이지
.g-content .result-wrap {
	position: relative;
	padding-top: 10rem;
	@include bpm('sm') {
		padding-top: 8rem;
	}
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		width: 10rem;
		height: 10rem;
		background-image: url(../assets/images/common/icon-result-page-check.svg);
		background-size: contain;
		@include bpm('sm') {
			width: 8rem;
			height: 8rem;
		}
	}
	.result-tit {
		margin-top: 2.4rem;
		text-align: center;
		font-size: var(--fz-lg2);
		font-weight: var(--fw-400);
		@include bpm('sm') {
			margin-top: 1.6rem;
			font-size: var(--fz-sm);
		}
	}
	.result-notice {
		margin-top: 2.4rem;
		text-align: center;
		color: var(--primary-50);
		> li + li {
			margin-top: 0.4rem;
		}
		@include bpm('sm') {
			margin-top: 1.6rem;
		}
	}
	.btn-actions {
		margin-top: 6.4rem;
		@include bpm('sm') {
			margin-top: 4rem;
		}
	}
}



// 일정타이틀 영역
.sub-schedule-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	@include bpm('sm') {
		margin-bottom: 3.2rem;
	}

	.title {
		margin: 0 2rem;
		font-size: 2.9rem;
		font-weight: 700;
		text-align: center;
		@include bpm('sm') {
			font-size: 2.3rem;
		}
		@include bpm('xs') {
			flex: 1;
		}
	}
}




/* 컨텐츠 영역-공통박스유형 */
.shadowbox-grey {
	padding: 4rem;
	border-radius: 2rem;
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
	@include bpm('sm') {
		padding: 2.4rem 1.6rem;
		border-radius: 1.2rem;
		box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.1);
	}
}
.shadowbox-grey-sm {
	padding: 4rem 2.4rem;
	border-radius: 2rem;
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
	@include bpm('sm') {
		padding: 2.4rem 1.6rem;
		border-radius: 1.2rem;
		box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.1);
	}
	&.m-pad-32 {
		@include bpm('sm') {
			padding: 3.2rem;
		}
	}
}

.bdbox-grey-sm {
	padding: 2.4rem 4rem;
	border: 1px solid var(--grey-40);
	border-radius: 2rem;
	@include bpm('sm') {
		padding: 2.4rem 1.6rem;
		border-radius: 1.2rem;
	}
}



/* 컨텐츠 공통 */
.disp-ib {
	display: inline-block;
}

.sublist-dash {
	li {
		position: relative;
		padding-left: 1.8rem;
		font-size: 1.7rem;

		&::before {
			content: '-';
			display: inline-block;
			position: absolute;
			top: 0.2rem;
			left: 0;
		}

		& + li {
			margin-top: 1rem;
		}
	}
}
.sublist-dot > li > .sublist-dash {
	margin-top: 1rem;
}

.bdbox-grey {
	position: relative;
	padding: 4rem;
	border: 1px solid var(--grey-40);
	border-radius: 2rem;
	word-break: keep-all;
}
.bdbox-green {
	padding: 2.4rem;
	border: 1px solid var(--secondary-50);
	border-radius: 1.2rem;
	word-break: keep-all;
}
.bdbox-blue {
	padding: 2.4rem;
	border: 1px solid var(--primary-50);
	border-radius: 1.2rem;
	word-break: keep-all;
}
.intro-titbox {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 1.2rem;
	text-align: center;
	word-break: keep-all;

	dt {
		flex-grow: 0;
		padding: 2rem 2.4rem;
		font-size: 2.3rem;
		font-weight: 700;

		@include bpm('sm') {
			padding: 1.6rem 2.4rem;
			font-size: 1.9rem;
		}
	}
	dd {
		flex-grow: 1;
		display: flex;
		align-items: center;
		padding: 2.4rem;
		font-size: 1.7rem;

		@include bpm('sm') {
			padding: 2.4rem 2rem;
		}
	}

	&.intro-titbox-blue {
		border: 1px solid var(--primary-50);

		dt {
			color: var(--white);
			border-bottom: 1px solid var(--primary-50);
			background-color: var(--primary-50);
		}
		dd {
			color: var(--primary-50);
		}
	}

	&.intro-titbox-cyan {
		border: 1px solid var(--primary-50);

		dt {
			color: var(--primary-50);
			border-bottom: 1px solid var(--primary-50);
			background-color: var(--primary-10);
		}
	}
}

.txt-guide {
	position: relative;
	font-size: 1.7rem;
	padding-left: 1.2rem;

	&::before {
		content: '*';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.7rem;
		line-height: 1.5;
	}
}

