/* icon */
.uiux-body {
	[class*='q-icon-'] {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		padding: 0;
		border: none;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 2rem;
		line-height: 1;
		text-align: center;
		vertical-align: middle;



		&.q-icon- {
			&system-danger {
				background-image: url(../assets/images/icon/inline/q-icon-system-danger.svg);
			}
			&system-info {
				background-image: url(../assets/images/icon/inline/q-icon-system-info.svg);
			}
			&system-success {
				background-image: url(../assets/images/icon/inline/q-icon-system-success.svg);
			}
			&system-warning {
				background-image: url(../assets/images/icon/inline/q-icon-system-warning.svg);
			}


			&visibility {
				background-image: url(../assets/images/icon/inline/q-icon-visibility.svg);
			}
			&visibility-off {
				background-image: url(../assets/images/icon/inline/q-icon-visibility-off.svg);
			}

			&file {
				background-image: url(../assets/images/icon/inline/q-icon-file.svg);
			}
			&file-blue {
				background-image: url(../assets/images/icon/inline/q-icon-file-blue.svg);
			}

			&close {
				background-image: url(../assets/images/icon/inline/q-icon-close.svg);
			}

			&calendar {
				background-image: url(../assets/images/icon/inline/q-icon-calendar.svg);
			}

			&down {
				background-image: url(../assets/images/icon/inline/q-icon-arr-down.svg);
			}
			&top {
				background-image: url(../assets/images/icon/inline/q-icon-arr-top.svg);
			}
			&left {
				background-image: url(../assets/images/icon/inline/q-icon-arr-left.svg);
			}
			&right {
				background-image: url(../assets/images/icon/inline/q-icon-arr-right.svg);
			}

			
		}

	}
}
