/* loading */
.loading-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	max-width: none !important;
	height: 100% !important;
	max-height: none !important;
	border-radius: 0 !important;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9999;
}