/* q-badge */

.uiux-body {
	.q-badge {
		&.custom-badge {
			position: relative;
			padding: 0 0.8rem;
			border-radius: 0.4rem;
			background-color: var(--primary-50);
			color: var(--white);
			font-size: var(--fz-xs);
			line-height: 2.4rem;
			white-space: nowrap;
			&.b-skyblue {
				background-color: #007fba !important;
			}
		}
	}
}