/* btn */

.uiux-body {
	.q-btn {
		&.custom-btn {
			min-width: 5rem;
			min-height: var(--h-md);
			padding: 0.4rem 1.6rem;
			background-color: var(--primary-50);
			color: var(--white);
			box-sizing: border-box;
			@include font(var(--fz-sm));
			text-transform: none;
			.q-focus-helper {
				display: none;
			}
			&::before {
				box-shadow: none;
			}
			&:hover,
			&:focus {
				background-color: var(--primary-40);
			}
			&.q-btn--active {
				background-color: var(--primary-60);
			}
			&.q-btn--rectangle {
				border-radius: 0.6rem;
			}
			&.width-fixed {
				min-width: 9.2rem;
			}
			&.size {
				&-xl {
					min-height: var(--h-xl);
					padding: 0.4rem 2.4rem;
					font-size: var(--fz-md);
					&.q-btn--rectangle {
						border-radius: 0.8rem;
					}
					&.width-fixed {
						min-width: 11.4rem;
					}
				}
				&-lg {
					min-height: var(--h-lg);
					padding: 0.4rem 2rem;
					font-size: var(--fz-md);
					&.q-btn--rectangle {
						border-radius: 0.8rem;
					}
					&.width-fixed {
						min-width: 10.6rem;
					}
				}
				&-md {
					min-height: var(--h-md);
					padding: 0.4rem 1.6rem;
					font-size: var(--fz-sm);
					&.q-btn--rectangle {
						border-radius: 0.8rem;
					}
					&.width-fixed {
						min-width: 9.2rem;
					}
				}
				&-sm {
					min-height: var(--h-sm);
					padding: 0.4rem 1.2rem;
					font-size: var(--fz-xs);
					&.q-btn--rectangle {
						border-radius: 0.6rem;
					}
					&.width-fixed {
						min-width: 7.6rem;
					}
				}
				&-xs {
					min-height: var(--h-xs);
					padding: 0.4rem 1rem;
					font-size: var(--fz-xs);
					&.q-btn--rectangle {
						width: max-content;
						border-radius: 0.6rem;
					}
					&.width-fixed {
						min-width: 7.2rem;
					}
				}
				&-xxs {
					min-height: var(--h-xxs2);
					padding: 0.15rem 1rem;
					font-size: var(--fz-xs);
					&.q-btn--rectangle {
						border-radius: 0.4rem;
					}
					&.width-fixed {
						min-width: 5.9rem;
					}
				}
			}
			&.disabled,
			&[disabled] {
				background-color: var(--grey-30);
				color: var(--grey-60);
				opacity: 1 !important;
			}
			&.bd-blue {
				background-color: var(--white);
				color: var(--primary-50);
				&::before {
					border: 1px solid currentColor;
				}
				&:hover,
				&:focus {
					background-color: var(--primary-5);
					color: var(--primary-40);
				}
				&.q-btn--active {
					background-color: var(--primary-20);
					color: var(--primary-60);
				}
				&.disabled,
				&[disabled] {
					background-color: var(--grey-30);
					color: var(--grey-60);
					opacity: 1 !important;
					&::before {
						border: 1px solid var(--grey-40);
					}
				}
			}
			&.bd-red {
				background-color: var(--white);
				color: var(--danger-50);
				&::before {
					border: 1px solid currentColor;
				}
				&:hover,
				&:focus {
					background-color: var(--danger-5);
					color: var(--danger-50);
				}
				&.q-btn--active {
					background-color: var(--danger-10);
					color: var(--danger-60);
				}
				&.disabled,
				&[disabled] {
					background-color: var(--grey-30);
					color: var(--grey-60);
					opacity: 1 !important;
					&::before {
						border: 1px solid var(--grey-40);
					}
				}
			}
			&.bd-grey {
				background-color: var(--white);
				color: var(--grey-80);
				&::before {
					border: 1px solid currentColor;
				}
				&:hover,
				&:focus {
					background-color: var(--grey-10);
				}
				&.q-btn--active {
					background-color: var(--grey-20);
				}
				&.disabled,
				&[disabled] {
					background-color: var(--grey-30);
					color: var(--grey-60);
					opacity: 1 !important;
					&::before {
						border: 1px solid var(--grey-40);
					}
				}
			}
			&.minus-btn {
				min-width: 4.8rem;
				height: 4.8rem;
				background: url(../assets/images/icon/q-icon-btn-minus-blue.svg) no-repeat center/2rem
					2rem;
			}
			&.plus-btn {
				min-width: 4.8rem;
				height: 4.8rem;
				background: url(../assets/images/icon/q-icon-btn-plus-blue.svg) no-repeat center/2rem 2rem;
			}
			&.ico-blank {
				.q-btn__content {
					> span {
						&::after {
							content: '';
							display: inline-block;
							width: 2.4rem;
							height: 2.4rem;
							margin-left: 0.4rem;
							vertical-align: middle;
							background: url(../assets/images/icon/q-icon-blank-blue.svg)
								no-repeat center/contain;
						}
					}
				}
			}
		}
	}

	.text-btn {
		display: inline-flex;
		align-items: center;
		min-height: 4rem;
		padding: 0.2rem;
		border: none;
		box-sizing: border-box;
		border-radius: 0.6rem;
		background: none;
		color: var(--grey-90);
		font-size: 1.9rem;
		line-height: 1.5;
		text-decoration: none;
		cursor: pointer;
		&.size-xl {
			min-height: 4.8rem;
			border-radius: 0.6rem;
			font-size: 1.9rem;
		}
		&.size-lg {
			min-height: 4rem;
			border-radius: 0.6rem;
			font-size: 1.9rem;
		}
		&.size-md {
			min-height: 3.2rem;
			border-radius: 0.6rem;
			font-size: 1.7rem;
		}
		&.size-sm {
			min-height: 2.4rem;
			border-radius: 0.4rem;
			font-size: 1.7rem;
			line-height: 1.2;
		}
		&.size-xs {
			min-height: 2rem;
			border-radius: 0.4rem;
			font-size: 1.5rem;
			line-height: 1.2;
		}
		&:hover,
		&:focus {
			background-color: var(--secondary-5);
			outline: none;
		}
		&:active {
			background-color: var(--secondary-10);
		}
		&.disabled,
		&[disabled] {
			background-color: transparent;
			color: var(--grey-50);
			opacity: 1 !important;
		}
	}

	.circle-btn {
		border: none;
		padding: 0;
		border-radius: 50%;
		width: 2.4rem;
		height: 2.4rem;
		vertical-align: top;
		background-position: center;
		cursor: pointer;
		&::before {
			box-shadow: none;
		}
		&.delete {
			background: url(../assets/images/icon/q-icon-btn-delete.svg) no-repeat center/cover;
		}
	}

	.btn-actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1.2rem;
		margin-top: 4rem;
		&.al-center {
			justify-content: center;
		}
		@include bpm('sm') {
			gap: 1.2rem 0.8rem;
		}
		.q-btn.custom-btn {
			@include bpm('sm') {
				flex: 1;
				min-height: var(--h-md);
				padding: 0.4rem 1.6rem;
				font-size: var(--fz-sm);
				&.q-btn--rectangle {
					border-radius: 0.8rem;
				}
			}
		}

		// ms 대회규정 하단 버튼 모바일 스타일 추가
		@include bpm('sm') {
			&.col1 {
				display: block !important;
				.q-btn {
					width: 100%;
					&:first-child {
						margin-bottom: 1.6rem;
					}
				}
			}
		}
	}
}