/* chip */

.uiux-body {
	.q-chip {
		&.custom-chip {
			height: auto;
			padding: 0.4rem 0.8rem;
			margin-right: 0;
			margin-bottom: 0;
			border-radius: 0.4rem;
			background-color: var(--grey-20);
			color: var(--grey-90);
			font-size: var(--fz-sm);
			.q-chip__icon {
				margin: 0 0 0 0.4rem;
				font-size: 20px;
			}
		}
	}
}