/* expansion-item */

.uiux-body {
	.q-expansion-item {
		&.custom-expansion {
			.q-item {
				padding: 2rem 4rem;
				&[aria-expanded='true'] {
					background-color: #fff;
				}
				@include bpm('sm') {
					padding: 1.6rem;
				}
				&.q-hoverable {
					.q-focus-helper {
						background-color: var(--primary-5);
						transition: 0.3s ease-in-out;
						&::before,
						&:after {
							background-color: var(--primary-5);
							transition: 0.3s ease-in-out;
						}
					}
					&:hover,
					&:focus {
						.q-focus-helper {
							opacity: 1;
							&::before,
							&:after {
								opacity: 1;
							}
						}
					}
				}
				.q-item__label {
					display: flex;
					min-height: 4rem;
					align-items: center;
					position: relative;
					padding-left: 6.4rem;
					font-weight: var(--fw-700);
					color: inherit;
					line-height: 1.5 !important;

					@include bpm('sm') {
						min-height: 2.8rem;
						padding-left: 3.6rem;
						font-weight: var(--fw-400);
					}
					&::before {
						content: '';
						display: inline-block;
						position: absolute;
						left: 0;
						top: 0;
						width: 4rem;
						height: 4rem;
						background: url(../assets/images/icon/q-icon-qna-question.svg) no-repeat
							center/contain;
						@include bpm('sm') {
							width: 2.8rem;
							height: 2.8rem;
						}
					}
				}

				.q-item__section--main ~ .q-item__section--side {
					justify-content: flex-start;
					padding-left: 4rem;
					color: var(--grey-90);
					@include bpm('sm') {
						padding-left: 1.2rem;
					}
					.q-icon {
						width: 2.4rem;
						height: 2.4rem;
						background: url(../assets/images/icon/q-icon-qna-arrow.svg) no-repeat center/contain;
						color: transparent;
						font-size: 0;
					}
				}
			}

			.q-card {
				padding: 2.4rem 4rem;
				background-color: var(--grey-10);
				border-top: 1px solid var(--grey-40);
				@include bpm('sm') {
					padding: 2rem 1.6rem;
				}
				.q-card__section {
					display: flex;
					align-items: center;
					min-height: 4rem;
					padding: 0 0 0 6.4rem;
					@include bpm('sm') {
						flex-direction: column;
						align-items: flex-start;
						padding: 4rem 0 0 0;
					}
					&::before {
						content: '';
						display: inline-block;
						position: absolute;
						left: 0;
						top: 0;
						width: 4rem;
						height: 4rem;
						background: url(../assets/images/icon/q-icon-qna-answer.svg) no-repeat center/contain;
						@include bpm('sm') {
							width: 2.8rem;
							height: 2.8rem;
						}
					}
				}
			}

			.q-separator {
				background-color: transparent;
			}
		}
	}

	.faq-list {
		width: 100%;
		border-top: 1px solid var(--grey-90);
		@include bpm('sm') {
			width: auto;
			margin: 0 -1.6rem;
		}
	}
}