/* pop, notify */

.uiux-body {
	.q-notification {
		&.custom-notify {
			min-height: 5.8rem;
			padding: 0 2.4rem;
			border-radius: 1.2rem;
			background: var(--danger-50);
			font-size: var(--fz-sm);
			.q-notification__icon--additional {
				margin-right: 0.8rem;
			}
			.q-notification__message {
				padding: 1.6rem 0;
			}
			.q-notification__badge {
				background-color: #fff;
				color: var(--danger-50);
			}
			&.success {
				background: var(--primary-50);
				.q-notification__badge {
					color: var(--primary-50);
				}
			}
		}
	}
}