/* tab */

.uiux-body {
	.q-tabs {
		&.custom-tabs {
			margin-bottom: 6.4rem;
			@include bpm('sm') {
				width: auto;
				margin: 0 -1.6rem 4rem;
			}
			.q-tabs__content {
				.q-tab {
					flex: 1 0 16.666%;
					height: 5.6rem;
					padding: 0 1.6rem;
					margin-left: -1px;
					border: 1px solid var(--grey-40);
					opacity: 1;
					box-sizing: border-box;

					&[target='_blank'] {
						.q-tab__label {
							&::after {
								content: '';
								display: inline-block;
								width: 2.4rem;
								height: 2.4rem;
								margin-top: -1px;
								margin-left: 0.8rem;
								vertical-align: middle;
								background: url(../assets/images/icon/q-icon-open-new-window.svg)
									no-repeat center/contain;
								@include bpm('sm') {
									width: 2rem;
									height: 2rem;
								}
							}
						}
					}
					@include bpm('sm') {
						flex: 1 0 33.333%;
						height: 4.8rem;
						&:first-child {
							border-left: none !important;
						}
						&:last-child {
							border-right: none !important;
						}
					}
					// @include bpm("xs") {
					//   flex: 1 0 50%;
					// }
					&:first-child {
						margin-left: 0;
					}
					.q-tab__content {
						height: auto;
						> .q-tab__label {
							color: var(--grey-70);
							font-size: var(--fz-lg3);
							font-weight: var(--fw-700);
							@include bpm('sm') {
								font-size: var(--fz-sm);
							}
						}
					}
					&:focus {
						outline: 2px dashed var(--grey-90);
						outline-offset: calc(-2px);
					}
					&:hover,
					&:focus {
						border-color: var(--primary-20);
						background-color: var(--primary-5);
						opacity: 1;
						z-index: 1;
						.q-tab__content {
							> .q-tab__label {
								color: var(--grey-70);
							}
						}
						.q-focus-helper {
							background: none;
							opacity: 0;
						}
					}
					&.q-tab--active {
						background-color: var(--primary-70);
						border-color: var(--primary-70);
						z-index: 2;
						.q-tab__content {
							> .q-tab__label {
								color: var(--white);
							}
						}
						&:focus {
							outline: 2px dashed var(--white);
						}
					}
					.q-tab__indicator {
						display: none;
					}
				}
			}
			.q-tabs__arrow {
				width: 5.6rem;
				height: 5.6rem;
				border-radius: 100%;
				color: transparent;
				text-shadow: none;
				z-index: 5;
				@include bpm('sm') {
					width: 4.8rem;
					height: 4.8rem;
				}
				&::before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					width: 11.6rem;
					pointer-events: none;
					@include bpm('sm') {
						width: 10.8rem;
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
				&--left {
					&::before {
						left: 0;
						background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
					}
					&::after {
						background-image: url(../assets/images/common/btn-tab-prev.svg);
					}
				}
				&--right {
					&::before {
						right: 0;
						background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
					}
					&::after {
						background-image: url(../assets/images/common/btn-tab-next.svg);
					}
				}
			}
		}
		&.custom-tabs-line {
			margin-bottom: 6.4rem;
			@include bpm('sm') {
				width: auto;
				margin: 0 -1.6rem 4rem;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--grey-30);
				pointer-events: none;
			}
			.q-tabs__content {
				.q-tab {
					flex: 1 0 20%;
					height: 5.6rem;
					padding: 0 1.6rem;
					color: var(--grey-70);
					opacity: 1;
					@include bpm('sm') {
						flex: 1 0 25%;
						height: 4.8rem;
					}
					@include bpm('xs') {
						flex: 1 0 33.3333%;
					}
					.q-tab__content {
						> .q-tab__label {
							font-size: var(--fz-lg3);
							font-weight: var(--fw-700);
							@include bpm('sm') {
								font-size: var(--fz-sm);
							}
						}
					}
					&:focus {
						outline: 2px dashed var(--grey-90);
						outline-offset: calc(-2px);
					}
					&:hover,
					&:focus {
						background-color: var(--primary-5);
						.q-focus-helper {
							background: none;
							opacity: 0;
						}
					}
					&:active {
						background-color: var(--primary-10);
					}
					&.q-tab--active {
						color: var(--primary-60);
					}
				}
			}
			.q-tab__indicator {
				height: 4px;
			}
			.q-tabs__arrow {
				width: 5.6rem;
				height: 5.6rem;
				border-radius: 100%;
				color: transparent;
				text-shadow: none;
				z-index: 5;
				@include bpm('sm') {
					width: 4.8rem;
					height: 4.8rem;
				}
				&::before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					width: 11.6rem;
					pointer-events: none;
					@include bpm('sm') {
						width: 10.8rem;
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
				&--left {
					&::before {
						left: 0;
						background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
					}
					&::after {
						background-image: url(../assets/images/common/btn-tab-prev.svg);
					}
				}
				&--right {
					&::before {
						right: 0;
						background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
					}
					&::after {
						background-image: url(../assets/images/common/btn-tab-next.svg);
					}
				}
			}
		}
	}
	.q-tab-panels {
		&.custom-panels {
			@include bpm('sm') {
				margin: 0 -1.6rem;
			}
			.q-tab-panel {
				padding: 0;
				> *:first-child {
					margin-top: 0;
				}
				@include bpm('sm') {
					padding: 0 1.6rem;
				}
			}
		}
	}
}