/* uploader */

.uiux-body {

	.file-chip-box {
		display: flex;
		flex-direction: column;
		width: 100%;
		.q-chip.custom-chip {
			margin: 0;
			~ .q-chip.custom-chip {
				margin-top: 0.8rem;
			}
		}
	}

	.q-uploader {
		&.custom-uploader {
			width: 100%;
			max-height: none;
			border-radius: 0.4rem;
			box-shadow: 0 0 1px 1px var(--grey-40) inset;
			.q-uploader {
				&__file--img {
					min-width: auto;
				}
				&__list {
					border: 1px solid var(--grey-40);
					border-top: none;
				}
			}

			.q-uploader__header-content {
				padding: 1.2rem 1.6rem;
				> .flex {
					align-items: flex-start;
					> .q-btn {
						min-width: auto;
						min-height: auto;
						width: 2rem;
						height: 2rem;
						padding: 0;
						&:focus-visible {
							outline: 2px dashed #fff !important;
						}
						.q-icon {
							width: 2rem;
							height: 2rem;
							font-size: 2.4rem;
						}
						&:first-child {
							width: 7.2rem;
							height: 3.2rem;
							margin-top: 0.8rem;
							margin-right: 1.6rem;
							border-radius: 0.6rem;
							&::before {
								content: ' ?�체??�� ';
								width: 7.2rem;
								height: 3.2rem;
								border-radius: inherit;
								background-color: #fff;
								font-size: var(--fz-xs);
								color: var(--primary-50);
								line-height: 3.2rem;
							}
							.q-icon {
								display: none;
							}
							&:hover {
								&::before {
									background-color: var(--primary-5);
									color: var(--primary-40);
									opacity: 1;
								}
							}
						}
					}
					> .col {
						~ .q-btn {
							margin-left: 1.2rem;
							&:hover {
								opacity: 0.7;
								transition: 0.2s;
							}
						}
					}
				}
				.q-uploader__title {
					font-size: var(--fz-sm);
				}
				.q-uploader__subtitle {
					font-size: var(--fz-xxs);
				}
			}

			//   2025-03-13 추�?/변�?
			.q-uploader__list {
				padding: 1.2rem 1.6rem;
				&::before {
					content: 'Drag & Drop ?�일 ?�택';
					position: absolute;
					top: 16px;
					left: 16px;
					color: var(--grey-60);
					font-size: 1.7rem;
				}

				//BD034

				.q-uploader__file {
					border-radius: 1.1rem;
					background-color: var(--grey-5);
					.q-uploader__file-header {
						padding: 1.2rem;
						align-items: flex-start;
					}
					.q-uploader__title {
						font-size: var(--fz-sm);
					}
					.q-uploader__subtitle {
						font-size: var(--fz-sm);
					}
					.q-btn {
						&:last-child {
							min-width: auto;
							min-height: auto;
							width: 2.4rem;
							height: 2.4rem;
							.q-icon {
								font-size: 2.4rem;
							}
						}
					}
				}
				.q-uploader__file--img {
					.q-uploader__file-header {
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(255, 255, 255, 0));
					}
				}
				.q-uploader__title {
					white-space: nowrap;
					text-overflow: ellipsis;
					max-width: 100%;
					overflow: hidden;
				}
			}
		}
	}


	.photo-file {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		gap: 0.8rem;

		@include bpm('sm') {
			gap: 1.2rem;
		}
		&-wrap {
			width: 100%;
		}
		.photo-img {
			flex: none;
			order: 1;
			width: 16rem;
			height: 18.8rem;
		}
		.photo-name {
			order: 5;
			width: 100%;

			@include bpm('sm') {
				order: 1;
				flex: 1;
				width: auto;
			}
		}
		.photo-btn {
			order: 1;

			@include bpm('sm') {
				order: 5;
				width: 100%;
			}
		}
	}
}