/********** quasar custom **********/
.uiux-body {
	/* common */
	.q-field__bottom {
		padding: 1.2rem 0 0;
		font-size: 1.5rem;
		line-height: 1.5;
		.q-field__messages {
			line-height: 1.5;
		}
		.q-field__counter {
			line-height: 1.5;
		}
	}
	.q-field--with-bottom {
		padding-bottom: 3.5rem;
	}
	.q-field:not(.q-field--error) .q-field__bottom {
		color: var(--grey-90);
	}
	.q-badge {
		padding: 0.4rem 0.8rem;
		font-size: var(--fz-xs);
	}
	.q-tooltip--style {
		font-size: 1.2rem;
	}
	.q-field__after,
	.q-field__append {
		padding-left: 0.8rem;
	}
}





