/* work/khb */

/***************************/
/******** use guide ********/
/***************************/
/* prettier-ignore */
section{
	&:has(.guide-wrap){max-width:132.8rem;margin:0 auto;background-color:#fff;border-radius:0rem;padding:2rem;margin-bottom:0 !important;position:relative;
		// &:nth-child(even){
		// 	&:before{content:'';width:100vw;height:100%;position:absolute;top:0;left:50%;transform:translateX(-50%);background-color:#f1f1f1;}
		// }
		h2 {font-size:1.8rem;padding:1rem;position:relative}
		.guide-wrap{@include flexArea;position:relative;
			.view-area{flex:1;}
			.code-area{flex:1;min-width:36rem;overflow:hidden;
				&:open{
					summary:after{content:' 숨기기';}
				}
				summary{font-size:1.3rem;color:#666;margin-bottom:1rem;display:block;
					&:after{content:' 보기'}
				}
				code{background-color:#101010;overflow:auto;font-family:Consolas;;color:rgba(255,255,255,1);font-size:1.1rem;line-height:2;display:block;margin:0 -2rem;}
			}
			&.col{flex-direction:column;
				.view-area{width:100%;}
				.code-area{width:100%;}
			}
		}
	}
}
/************************/
/******** button ********/
/************************/
/* prettier-ignore */
.common-btn{   background-color:var(--q-primary);color:rgba(255,255,255,1);
  &.secondary {background-color:var(--q-secondary);}
  &.negative  {background-color:var(--q-negative);}
}
/* prettier-ignore */
.btn-wrap {@include flexArea($justify: center, $width: 100%,$align:center);
	&.left{justify-content:flex-start;}
	&.right{justify-content:flex-end;}
	&.between{justify-content:space-between;}
}
/* prettier-ignore */
.q-checkbox {
	.q-checkbox__inner{		
		.q-checkbox__bg{background-image:url(assets/images/icon/q-icon-qna-answer.svg);background-color:#fff;background-position:center center;background-repeat:no-repeat;background-size:contain;border:none;
			> *{display:none;}
		}
		/* checked */
		&.q-checkbox__inner--truthy{		
			.q-checkbox__bg{background-image:url(assets/images/icon/q-icon-right-20-blue.svg)}
		}
	}
	&.disabled{		
		.q-checkbox__bg{background-color:red;}
		/* checked */
		.q-checkbox__inner--truthy{
			.q-checkbox__bg{background-color:green}
		}
	}
}
/* prettier-ignore */
.q-radio {
	.q-radio__inner{		
		.q-radio__bg{background-image:url(assets/images/icon/q-icon-qna-answer.svg);background-color:#fff;background-position:center center;background-repeat:no-repeat;background-size:contain;border:none;
			> *{display:none;}
		}
		/* checked */
		&.q-radio__inner--truthy{		
			.q-radio__bg{background-image:url(assets/images/icon/q-icon-right-20-blue.svg)}
		}
	}
	&.disabled{		
		.q-radio__bg{background-color:red;}
		/* checked */
		.q-radio__inner--truthy{
			.q-radio__bg{background-color:green}
		}
	}
}
