// footer
.g-footer {
	background: var(--grey-80);
	z-index: 40;
	.f-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		position: relative;
		max-width: 144rem;
		margin: 0 auto;
	}
	.f-con {
		padding: 4rem 2.4rem 8rem;
		@include bpm('ml') {
			padding: 4rem 1.6rem;
		}
		.f-logo {
			flex: none;
			width: 22rem;
			margin-bottom: 4rem;
		}
		.f-info {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
			color: var(--grey-20);
			word-break: keep-all;
			@include bpm('ml') {
				font-size: 1.5rem;
			}
			@include bpm('sm') {
				flex-wrap: wrap;
			}
			.info-addr {
				.zip-code {
					@include bpm('ml') {
						display: block;
					}
				}
			}
			.info-cs {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				dl {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin: 0;
					@include bpm('xs') {
						width: 100%;
					}
					+ dl::before {
						content: '';
						width: 1px;
						height: 1.2rem;
						margin: 0 1.6rem;
						background: var(--grey-20);
						@include bpm('xs') {
							display: none;
						}
					}
					dt {
						font-weight: 700;
					}
					dd {
						margin-left: 0.6rem;
					}
				}
			}
			// .info-right {
			// 	@include bpm('sm') {
			// 		width: 100%;
			// 		margin-top: 1.2rem;
			// 	}
			// }
		}
	}
	.f-btm {
		padding: 4rem 2.4rem;
		border-top: 1px solid var(--grey-60);
		@include bpm('xs') {
			padding: 4rem 1.6rem 8rem;
		}
		.f-link {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 4rem;
			width: 100%;
			@include bpm('ml') {
				gap: 1.2rem 2.4rem;
			}
			@include bpm('xs') {
				flex-direction: column;
				align-items: flex-start;
			}
			a {
				display: inline-flex;
				color: var(--grey-0);
				font-size: 2.1rem;
				font-weight: 400;
				text-decoration: none;
				@include bpm('ml') {
					font-size: 1.7rem;
				}
				&.point {
					color: var(--warning-50);
					font-weight: 700;
				}
			}
		}
		.f-mark {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			@include bpm('xs') {
				position: static;
				margin-top: 4rem;
				transform: none;
			}
			> a {
				display: block;
				width: 8rem;
				height: 8rem;
				color: var(--grey-20);
				@include bpm('ml') {
					width: 6rem;
					height: 6rem;
				}
			}
		}
		.f-copyright {
			width: 100%;
			margin-top: 2rem;
			color: var(--grey-20);
			font-size: 1.7rem;
			font-weight: 400;
			@include bpm('ml') {
				font-size: 1.5rem;
			}
		}
	}
}

