// header
.g-header {
	background: var(--white);
	color: var(--grey-90);
	.no-scroll & {
		padding-right: var(--scrollbar-width);
	}
	.head-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
	.head-top {
		position: relative;
		padding: 2rem 2.4rem;
		border-bottom: 1px solid var(--grey-20);
		background-color: var(--white);
		z-index: 10;
		.no-scroll & {
			margin-right: calc(var(--scrollbar-width, 0) * -1);
			padding-right: calc(2.4rem + var(--scrollbar-width, 0));
		}
		.q-toolbar {
			max-width: 144rem;
			margin: 0 auto;
			justify-content: space-between;
			padding: 0;
			.logo {
				width: 28rem;
				height: 8rem;
				> a {
					display: block;
					width: 100%;
					height: 100%;
					background: url(assets/images/common/gnb_logo.png) no-repeat center / 100%;
					color: inherit;
				}
			}
			.head-search {
				display: flex;
				align-items: center;
				.search-input {
					width: 38rem;
					font-size: 17px;
					&.q-field--outlined .q-field__control {
						padding: 0 2.4rem;
						border-radius: 6rem;
						height: 5.2rem;
						&:before {
							border: 2px solid var(--primary-50);
						}
					}
					.q-field__marginal {
						height: 5.2rem;
					}

					.q-field__native,
					.q-field__input {
						color: var(--primary-50);
						&::placeholder {
							color: var(--primary-50);
							opacity: 1;
						}
					}
					.btn-search {
						min-width: 2.8rem;
						min-height: 2.8rem;
						background: url(../assets/images/common/q-icon-search-blue.svg) no-repeat
							center/contain;
						color: var(--primary-50);
						.q-focus-helper {
							transform: scale(1.5);
						}
					}
				}
				.search-txtbtn {
					margin-left: 1.6rem;
					padding: 0 0.2rem;
					border: none;
					border-radius: 0;
					background: none;
					color: var(--primary-50);
					font-size: 1.5rem;
					text-decoration: underline;
					text-underline-offset: 3px;
					cursor: pointer;
				}
			}
			.head-util {
				display: flex;
				align-items: center;

				> a {
					display: flex;
					align-items: center;
					min-height: 4.2rem;
					padding: 0 0.8rem;
					color: var(--grey-90);
					font-size: var(--fz-sm);
					font-weight: var(--fw-600);
					text-decoration: none;
					&:hover {
						background-color: var(--primary-5);
					}
					&:active {
						background-color: var(--primary-10);
					}
					.q-icon {
						margin-right: 0.8rem;
					}
				}
			}
		}
	}
	.head-gnb {
		position: relative;
		padding: 0 2.4rem;
		border-bottom: 1px solid var(--grey-20);
		background-color: var(--white);
		z-index: 10;
		.no-scroll & {
			margin-right: calc(var(--scrollbar-width, 0) * -1);
			padding-right: calc(2.4rem + var(--scrollbar-width, 0));
		}

		.q-toolbar {
			display: flex;
			position: static;
			width: 100%;
			max-width: 144rem;
			min-height: auto;
			padding: 0;
			margin: 0 auto;
		}

		.main-menu {
			flex: 1;

			> ul {
				display: flex;
				width: 100%;

				> li {
					&:not(:first-child) {
						margin-left: 2rem;
					}
					&.s-group {
						margin-left: auto;
						~ .s-group {
							margin-left: 0;
						}
						> button {
							font-size: 2rem;
						}
					}

					> button {
						display: inline-flex;
						align-items: center;
						position: relative;
						height: 7rem;
						padding: 0 1.2rem;
						border: none;
						border-radius: 0;
						background: none;
						color: var(--grey-90);
						font-size: 2.2rem;
						font-weight: 700;
						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 50%;
							width: 0;
							height: 0.4rem;
							background-color: var(--primary-50);
							transition: 0.4s ease-in-out;
						}
						&::after {
							flex: none;
							content: '';
							width: 2rem;
							height: 2rem;
							margin-left: 0.6rem;
							background: url(../assets/images/common/q-icon-down.svg) no-repeat center/contain;
							transition: 0.4s ease-in-out;
						}
						&:hover {
							background-color: var(--primary-5);
						}
						&:active {
							background-color: var(--primary-10);
						}
						&:focus {
							outline: 0.2rem solid var(--primary-50);
							outline-offset: -0.4rem;
						}
						.num {
							display: none;
						}
					}
					.submenu-wrap {
						display: none;
						position: absolute;
						top: calc(100% + 1px);
						right: 0;
						left: 0;
						max-height: 80vh;
						overflow: auto;
						padding: 0 2.4rem;
						background-color: var(--white);

						.submenu {
							display: flex;
							width: 100%;
							max-width: 144rem;
							min-height: auto;
							margin: 0 auto;
							.box-left {
								flex: none;
								display: flex;
								position: relative;
								flex-direction: column;
								width: 34.2rem;
								padding: 6rem 0 4rem;
								&::before {
									content: '';
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									width: 9999rem;
									background-color: var(--grey-5);
								}
								.tit {
									position: relative;
									margin-bottom: 2.4rem;
									font-size: 4rem;
									font-weight: 600;
								}
								.num {
									display: none;
								}
								.cate-img {
									position: relative;
									margin-top: auto;
									width: 27.8rem;
								}
							}
							.box-right {
								flex: 1;
								padding: 4rem 0 4rem 2.8rem;
								> ul {
									> li {
										+ li {
											margin-top: 1.6rem;
											padding-top: 2.4rem;
											border-top: 1px solid var(--grey-40);
										}
										> a {
											display: inline-block;
											margin-bottom: 1.6rem;
											color: var(--grey-90);
											font-size: 2.1rem;
											font-weight: 600;
											text-decoration: none;
											&:hover,
											&:focus {
												color: var(--primary-50);
											}
										}
										> ul {
											display: flex;
											flex-wrap: wrap;
											align-items: flex-start;
											> li {
												width: calc(100% / 3);
												margin-bottom: 1.2rem;
												> a {
													display: inline-flex;
													color: var(--grey-90);
													font-size: 1.7rem;
													font-weight: 400;
													text-decoration: none;
													.num {
														margin-right: 0.8rem;
													}
													&:hover,
													&:focus {
														color: var(--primary-50);
													}
												}
											}
										}
									}
								}
							}
						}
					}
					&.active {
						> button {
							&::before {
								left: 0;
								width: 100%;
							}
							&::after {
								transform: rotate(-180deg);
							}
						}
						.submenu-wrap {
							display: block;
						}
					}
				}
			}
		}

		.g-allmenu {
			width: 5.2rem;
			height: 7rem;
			margin-left: 1.2rem;
			border: none;
			background: url(../assets/images/common/q-icon-menu.svg) no-repeat center/2.8rem;
		}
	}

	// 전체메뉴
	.all-menu-layer {
		position: fixed;
		top: var(--head-top-height);
		bottom: 0;
		left: 0;
		width: 100%;
		background: var(--white);
		z-index: 1000;
		.all-menu-content {
			height: 100%;
			overflow-y: auto;
			background: #fff;

			.all-menu-close {
				position: sticky;
				top: 0;
				left: calc(50% + 144rem / 2 - 5.2rem);
				width: 5.2rem;
				height: 7rem;
				margin: 0 2.4rem;
				border: none;
				background: url(../assets/images/common/q-icon-close.svg) no-repeat center/2.8rem;
				cursor: pointer;
				z-index: 5;
			}

			.all-menu-list {
				position: relative;
				> li {
					padding: 3.2rem 2.4rem;
					border-bottom: 1px solid var(--grey-40);
					&:first-child {
						padding-top: 0.8rem;
					}
					.all-menu-list-item {
						display: flex;
						align-items: flex-start;
						max-width: 144rem;
						margin: 0 auto;
						.toggle-button {
							flex: none;
							display: flex;
							align-items: center;
							width: 32rem;
							height: 8rem;
							padding: 2.4rem;
							margin-right: 6.2rem;
							border: none;
							border-radius: 1.2rem;
							background: linear-gradient(113.69deg, #00866b -11.01%, #014aaa 71.97%);
							color: var(--white);
							font-size: 2.5rem;
							font-weight: 700;
							.num {
								margin-right: 0.8rem;
							}
							&::after {
								content: '';
								width: 2.8rem;
								height: 2.8rem;
								background: url(../assets/images/icon/arr-down-28.svg) no-repeat center/contain;
								margin-left: auto;
							}
							&[aria-expanded='true']::after {
								transform: rotate(180deg);
							}
						}
						.submenu-list {
							flex: 1;
							> li {
								padding-bottom: 0.4rem;
								+ li {
									margin-top: 2.4rem;
									padding-top: 2.4rem;
									border-top: 1px solid var(--grey-40);
								}
								> a {
									display: inline-flex;
									color: var(--grey-90);
									font-size: 2.1rem;
									font-weight: 600;
									text-decoration: none;
									.num {
										margin-right: 0.8rem;
									}
								}
								> ul {
									display: flex;
									flex-wrap: wrap;
									gap: 1.2rem 0.8rem;
									margin-top: 1.6rem;
									> li {
										width: calc(100% / 3 - 0.8rem * 2 / 3);
										> a {
											display: inline-flex;
											color: var(--grey-90);
											font-size: 1.7rem;
											font-weight: 400;
											text-decoration: none;
											.num {
												margin-right: 0.8rem;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// mobile header
.g-header-m {
	padding: 2rem 2.4rem;
	border-bottom: 1px solid var(--grey-40);
	background: var(--white);
	@include bpm('sm') {
		padding: 1.6rem;
	}
	.q-toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		min-height: auto;
		padding: 0;
	}
	.logo {
		flex: none;
		width: 17.8rem;
		height: 4rem;
		// margin-right: auto;
		@include bpm('sm') {
			width: 14rem;
			height: 4rem;
		}
		> a {
			display: block;
			width: 100%;
			height: 100%;
			background: url(../assets/images/common/gnb_logo.png) no-repeat center/ 100%;
		}
	}
	.btn-wrap {
		display: flex;
		gap: 2rem;
	}
	.btn-search {
		width: 2.8rem;
		height: 2.8rem;
		border: none;
		background: url(../assets/images/icon/q-icon-search-28.svg) no-repeat center/contain;
		cursor: pointer;
	}
	.btn-allmenu {
		width: 2.8rem;
		height: 2.8rem;
		border: none;
		background: url(../assets/images/icon/q-icon-menu-28.svg) no-repeat center/contain;
		cursor: pointer;
	}
}

.header-m-layer {
	.header-m-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 999;
		&.allmenu {
			z-index: 2500;
		}
	}

	/* 검색 레이어 */
	.header-m-search-layer {
		position: fixed;
		top: calc(var(--head-m-height) - 1px);
		right: 0;
		left: 0;
		width: 100%;
		z-index: 3000;
		@include bpm('sm') {
			top: calc(7.3rem - 1px);
		}
		.close-btn {
			position: absolute;
			top: -5.4rem;
			right: 7rem;
			width: 2.8rem;
			height: 2.8rem;
			border: none;
			background: url(../assets/images/icon/q-icon-close-28.svg) no-repeat center/contain;
			background-color: var(--white);
			cursor: pointer;
			@include bpm('sm') {
				top: -5rem;
				right: 6.4rem;
			}
		}
		.search-content {
			max-height: calc(100vh - (var(--head-m-height) - 1px));
			max-height: calc(100dvh - (var(--head-m-height) - 1px));
			overflow: auto;
			padding: 2.4rem 1.6rem 0;
			background-color: var(--white);
		}
		.search-tabs {
			margin-bottom: 2rem;
			.q-tabs__content {
				justify-content: center;
				.search-tab-bar {
					width: 1px;
					height: 1.6rem;
					margin: 0 1.2rem;
					background-color: var(--grey-40);
				}
				.q-tab {
					flex: none;
					min-height: auto;
					padding: 0 0.8rem;
					border-radius: 0.8rem;
					opacity: 1;
					.q-focus-helper {
						display: none;
					}
					.q-tab__content {
						min-width: auto;
						padding: 0;
					}
					.q-tab__label {
						color: var(--grey-60);
						font-size: 1.9rem;
						line-height: 1.5;
						font-weight: 400;
					}
					&:focus {
						background-color: var(--grey-20);
					}
					&.q-tab--active {
						.q-tab__label {
							color: var(--primary-50);
							font-weight: 700;
						}
					}
				}
			}
			.q-tab__indicator {
				display: none;
			}
		}
		.search-panels {
			margin: 0 -1.6rem;
			.q-tab-panel {
				padding: 0 1.6rem;
			}
		}
		.search-field {
			display: flex;
			align-items: flex-start;
			gap: 0.8rem;
			margin-bottom: 4rem;
		}
		.pagenum-m-result {
			margin: 2rem -1.6rem 0;
			padding: 2.4rem 1.6rem;
			border-top: 1px solid var(--grey-30);
			border-bottom: 1px solid var(--grey-30);
			background-color: var(--grey-5);
		}
	}

	/* 전체메뉴 레이어 */
	.header-m-allmenu-layer {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 60rem;
		height: 100vh;
		height: 100dvh;
		background-color: var(--white);
		z-index: 3000;
		.all-menu-header {
			flex: none;
			.all-menu-header-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 2rem 2.4rem;
				@include bpm('sm') {
					padding: 1.6rem;
				}
				.logo {
					flex: none;
					width: 20.8rem;
					height: 4rem;
					margin-right: auto;
					@include bpm('sm') {
						width: 14rem;
						height: 4rem;
					}
					> a {
						display: block;
						width: 100%;
						height: 100%;
						background: url(../assets/images/common/gnb_logo.png) no-repeat center/contain;
					}
				}
				.close-btn {
					width: 2.8rem;
					height: 2.8rem;
					border: none;
					background: url(../assets/images/icon/q-icon-close-28.svg) no-repeat center/contain;
					background-color: var(--white);
					cursor: pointer;
				}
			}
			.all-menu-header-util {
				display: flex;
				justify-content: space-between;
				padding: 0 1.6rem 0.6rem;
				a {
					display: inline-flex;
					align-items: center;
					padding: 0 0.8rem;
					color: var(--grey-90);
					font-size: 1.7rem;
					line-height: 4.2rem;
					font-weight: 600;
					text-decoration: none;
					.q-icon {
						margin-right: 0.8rem;
					}
				}
			}
		}
		.all-menu-content {
			flex: 1;
			display: flex;
			min-height: 0;
			background-color: var(--white);
			border-top: 1px solid var(--grey-30);
			.left-menu {
				width: 16rem;
				background-color: var(--grey-5);
				overflow-y: auto;
				li {
					a,
					button {
						display: flex;
						align-items: flex-start;
						width: 100%;
						padding: 1.5rem 0.8rem 1.5rem 1.2rem;
						border: none;
						background-color: transparent;
						color: var(--grey-90);
						font-size: 1.7rem;
						line-height: 1.5;
						font-weight: 700;
						text-align: left;
						text-decoration: none;
						cursor: pointer;
						.num {
							margin-right: 0.6rem;
						}
						.label {
							flex: 1;
							margin-right: 0.6rem;
							word-break: break-all;
						}
						&[target='_blank'] {
							padding-right: 0;
							.label {
								margin-right: 0;
								&::after {
									content: '';
									display: inline-flex;
									width: 1.6rem;
									height: 1.6rem;
									margin: 0.5rem 0 0.5rem 0.4rem;
									background: url(../assets/images/icon/q-icon-open-new-window.svg)
										no-repeat center/contain;
									vertical-align: top;
								}
							}
						}
					}
					&.other-group {
						border-top: 1px solid var(--grey-30);
						~ .other-group {
							border-top: none;
						}
						a,
						button {
							padding: 1.3rem 0.8rem 1.3rem 1.6rem;
							font-size: 1.5rem;
						}
					}
					&.active {
						a,
						button {
							background-color: var(--primary-50);
							color: var(--white);
						}
					}
				}
			}
			.right-menu {
				flex: 1;
				overflow-y: auto;
				> ul {
					> li {
						border-bottom: 1px solid var(--grey-30);
						> a,
						> button {
							display: flex;
							align-items: flex-start;
							width: 100%;
							padding: 2rem 1.2rem;
							border: none;
							background: none;
							color: var(--grey-90);
							font-size: 1.7rem;
							line-height: 1.5;
							font-weight: 600;
							text-align: left;
							text-decoration: none;
							cursor: pointer;
							cursor: pointer;
							.num {
								margin-right: 0.8rem;
							}
							.label {
								flex: 1;
								margin-right: 0.6rem;
								word-break: break-all;
							}
							&[aria-expanded]::after {
								content: '';
								width: 2rem;
								height: 2rem;
								margin: 0.3rem 0 0.3rem auto;
								background: url(../assets/images/icon/q-icon-down-20b.svg) no-repeat center/contain;
							}
							&[aria-expanded='true']::after {
								transform: rotate(180deg);
							}
							&[target='_blank'] {
								.label::after {
									content: '';
									display: inline-flex;
									width: 1.6rem;
									height: 1.6rem;
									margin: 0.3rem 0 0.3rem 0.6rem;
									background: url(../assets/images/icon/q-icon-open-new-window.svg) no-repeat center/contain;
									vertical-align: top;
								}
							}
						}
						> ul {
							position: relative;
							padding: 1.2rem 0;
							&::before {
								content: '';
								position: absolute;
								top: 0;
								right: 1.2rem;
								left: 1.2rem;
								height: 1px;
								background-color: var(--grey-30);
							}
							> li {
								> a {
									display: flex;
									padding: 1.2rem;
									color: var(--grey-90);
									font-size: 1.5rem;
									line-height: 1.5;
									font-weight: 400;
									text-align: left;
									text-decoration: none;
									.num {
										margin-right: 0.6rem;
									}
									.label {
										flex: 1;
										margin-right: 0.6rem;
										word-break: break-all;
									}
									&[target='_blank'] {
										.label::after {
											content: '';
											display: inline-flex;
											width: 1.6rem;
											height: 1.6rem;
											margin: 0.3rem 0 0.3rem 0.6rem;
											background: url(../assets/images/icon/q-icon-open-new-window.svg)
												no-repeat center/contain;
											vertical-align: top;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.all-menu-footer {
			flex: none;
			background-color: var(--white);
			box-shadow: -4px -4px 8px 0px #00000014;
			.sns-links {
				display: flex;
				padding: 1.2rem;
				justify-content: space-around;
				a {
					display: inline-flex;
					width: 3.6rem;
					vertical-align: top;
				}
			}
		}
	}

	/* 트랜지션 애니메이션 */
	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.2s ease-out;
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}

	.slide-down-enter-active,
	.slide-down-leave-active {
		transition: transform 0.2s ease-out;
	}

	.slide-down-enter-from,
	.slide-down-leave-to {
		transform: translateY(-100%);
	}

	.slide-down-enter-to,
	.slide-down-leave-from {
		transform: translateY(0);
	}

	.slide-in-enter-active,
	.slide-in-leave-active {
		transition: transform 0.2s ease-out;
	}

	.slide-in-enter-from,
	.slide-in-leave-to {
		transform: translateX(100%);
	}

	.slide-in-enter-to,
	.slide-in-leave-from {
		transform: translateX(0);
	}
}
