
// quick
.g-quick {
	z-index: 100;
	.quick-btngroup {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		.quick-setting {
			border: none;
			.setting-btn {
				width: 7.2rem;
				height: 7.2rem;
				border: none;
				border-radius: 50%;
				color: var(--primary-50);
				z-index: 1;
				&:focus {
					outline: 2px dashed currentColor;
				}

				.q-item__label {
					position: absolute !important;
					width: 1px !important;
					height: 1px !important;
					margin: -1px !important;
					padding: 0 !important;
					overflow: hidden !important;
					clip: rect(0, 0, 0, 0) !important;
					border: 0 !important;
				}
				.q-item__section--side {
					display: none;
				}
				&[aria-expanded='true'] {
					+ .q-expansion-item__content {
						max-width: 500px !important;
					}
				}
			}
			.q-expansion-item__content {
				display: flex;
				align-items: center;
				position: absolute;
				top: 0;
				right: 3.6rem;
				bottom: 0;
				border: 1px solid var(--grey-20);
				border-radius: 6rem 0 0 6rem;
				background-color: var(--white);
				box-shadow: 0px 0px 12px 0px #00000014;
				// animation 변경
				height: auto !important;
				max-width: 0 !important;
				overflow: hidden !important;
				transition: max-width 300ms cubic-bezier(0.25, 0.8, 0.5, 1) !important;
			}
		}
		.quick-btn {
			display: block;
			width: 9.6rem;
			height: 9.6rem;
			padding-top: 6.4rem;
			padding-left: 0;
			padding-right: 0;
			font-size: 1.3rem;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
			background-repeat: no-repeat;
			background-position: 50% 1.6rem;
			background-size: 4rem 4rem;
			color: #000;

			// 모바일에서 퀵메뉴 상단 컨텐츠 안보임.
			@media (max-width: 1690px) {
				&:not(.go-top) {
					display: none;
				}
			}

			&.go-top {
				overflow: hidden;
				padding-top: 5.6rem;
				padding-bottom: 2rem;
				border-radius: 1.6rem;
				background-color: #fff;
				background-position: 50% 2rem;
				background-size: 3.2rem 3.2rem;
				background-image: url(/src/assets/images/common/quick-top.svg);
				box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
				@media (max-width: 1550px) {
					width: 6rem;
					height: 6rem;
					padding-top: 3.2rem;
					padding-bottom: 0.8rem;
					background-position: 50% 0.4rem;
					border-radius: 1.2rem;
				}
			}

			@for $i from 1 through 5 {
				&.quick-0#{$i} {
					background-image: url(assets/images/common/quick-0#{$i}.svg);

					&:hover {
						background-color: rgba(0, 0, 0, 0.05);
					}
				}
			}

			&:focus {
				outline: 2px dashed currentColor !important;
				outline-offset: -2px;
			}
			&::before {
				display: none;
			}
		}
		> div {
			overflow: hidden;
			border-radius: 1.6rem;
			background-color: #fff;
			box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);

			.quick-btn {
				& + .quick-btn {
					border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
				}
			}
		}
		.inner-hr {
			margin: 1.6rem 0;
			border: none;
		}
	}
}
