.skip-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	margin: 0;
	z-index: 99999;
	a {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background: var(--primary-50);
		color: var(--white);
		font-size: 2.1rem;
		line-height: 4.8rem;
		font-weight: var(--fw-700);
		text-align: center;
		overflow: hidden;
		transition: 0.3s;
		&:hover,
		&:focus,
		&:active {
			height: 4.8rem;
			transition: 0.3s;
		}
		&:focus {
			outline-offset: -4px;
		}
	}
}