/**
 * work/_bp_form.scss
 * ------------------
*/

//common styles for admin
$text-color: #464c53;
$primary-color: #256ef4;
$secondary-color: #063a74;
$gray-color: #8a949e;
$primary-color: #256ef4;

/*---------------------------------------------*/
/*  checkbox  */
/*---------------------------------------------*/
input[type='checkbox'] {
	vertical-align: middle;
	width: 2rem;
	height: 2rem;

	&::before {
		display: block;
		content: '';
		width: 2rem;
		height: 2rem;
		background: url($imgpath + 'common/icon_chk.svg') no-repeat center / contain;
	}
	&:checked {
		&::before {
			background: url($imgpath + 'common/icon_chk_checked.svg') no-repeat center / contain;
		}
	}
	&:disabled {
		&::before {
			background: url($imgpath + 'common/icon_chk_disable.svg') no-repeat center / contain;
		}
		+ label {
			color: #8a949e;
		}
	}
	&:checked:disabled {
		&::before {
			background: url($imgpath + 'common/icon_chk_disChecked.svg') no-repeat center / contain;
		}
	}
	&:focus,
	&:focus-visible {
		outline: 1px solid $primary-color;
	}
}

/*---------------------------------------------*/
/* input type */
/*---------------------------------------------*/
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'] {
	width: 100%;
	border: 1px solid #b1b8be;
	border-radius: 0.8rem;
	background-color: #fff;
	padding: 0.7rem 1.5rem;

	&:disabled {
		background-color: #e6e8ea;
		color: #8a949e;
	}
	&:focus-visible {
		//outline: rem(1) solid #1e2124;
		border-radius: rem(4);
	}
	&:read-only {
		background-color: #e6e8ea;
		color: #1e2124;
	}
	&.readonly {
		background-color: #e6e8ea;
		color: #1e2124;
	}
	&.error {
		border: 1px solid #de3412;
	}
}
.focused {
	> input[type='text'] {
		border: rem(2) solid #1e2124;
		border-radius: rem(8);
		&:focus-visible {
			outline: none;
		}
	}
}

.form-textarea {
	width: 100%;
	> textarea {
		width: 100%;
		border: 1px solid #b1b8be;
		border-radius: 0.8rem;
		background-color: #fff;
		padding: rem(7) rem(15);
		color: #1e2124;
		text-align: left;

		&::placeholder {
			color: #8a949e;
		}
	}
	&.focused {
		> textarea {
			border: 2px solid #1e2124;
		}
	}
}

.msg-box {
	font-size: 1.4rem;
	color: #6d7882;
	text-align: left;
	padding-left: rem(22);
	margin-top: rem(8);
	color: #096ab3;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		background: url($imgpath + 'common/icon_input.svg') no-repeat left top / contain;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	&.success {
		color: #228738;
		&::before {
			content: '';
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			background: url($imgpath + 'common/icon_input_success.svg') no-repeat left top / contain;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&.error {
		color: #de3412;
		&::before {
			background: url($imgpath + 'common/icon_input_error.svg') no-repeat left top / contain;
		}
	}
}

.txtcounter {
	text-align: right;
	margin-top: 0.8rem;
	white-space: nowrap;
	> span {
		color: #096ab3;
	}
}

/*---------------------------------------------*/
/*  select  */
/*---------------------------------------------*/
select {
	border: 1px solid #b1b8be;
	border-radius: 0.8rem;
	padding: 0.7rem 3.6rem 0.7rem 1.5rem;
	background: #fff url($imgpath + 'common/icon_arrow_black.svg') no-repeat 90% 50% / contain;
	background-size: 2.4rem;

	&:disabled {
		background-color: #e6e8ea;
		color: #767676;
	}
	&.focused {
		border: 2px solid #242424;
	}

	&.error {
		border: 1px solid #de3412;
	}

	//사이즈즈
	&,
	&.md {
		width: rem(160);
	}
	&.full {
		width: 100%;
	}
}

/*---------------------------------------------*/
/*  radio  */
/*---------------------------------------------*/
input[type='radio'] {
	vertical-align: middle;
	width: 2rem;
	height: 2rem;
	&::before {
		display: block;
		content: '';
		width: 2rem;
		height: 2rem;
		background: url($imgpath + 'common/icon_radio.svg') no-repeat center / contain;
	}
	&:checked {
		&::before {
			background: url($imgpath + 'common/icon_radio_checked.svg') no-repeat center / contain;
		}
	}
	&:disabled {
		&::before {
			background: url($imgpath + 'common/icon_radio_disable.svg') no-repeat center / contain;
		}
		+ label {
			color: #8a949e;
		}
	}
	&:checked:disabled {
		&::before {
			background: url($imgpath + 'common/icon_radio_disChecked.svg') no-repeat center / contain;
		}
	}
}

//커스텀 라디오 버튼
.form-group-check {
	@include flexArea(auto, center, flex-start, row, 0.8rem);
	> input[type='checkbox'],
	input[type='radio'] {
		opacity: 0;
		position: absolute;
		+ label {
			min-width: 6rem;
			height: 4rem;
			padding: rem(8) rem(11.5);
			border-radius: rem(8);
			background-color: #e6e8ea;
			color: #1e2124;
			cursor: pointer;
			&::before {
				background: none;
			}
			&:hover {
				background-color: #cdd1d5;
			}
		}

		&:checked + label {
			height: rem(40);
			background-color: #6d7882;
			color: #fff;
		}
	}

	// input:checked + label
	// input:focus-visible + label
	// input:disabled + label
}

/*---------------------------------------------*/
/*  calendar  */
/*---------------------------------------------*/
.datebox {
	width: 5rem;
	display: block;
	position: relative;

	input[type='text'],
	input[type='number'] {
		padding-right: 4.5rem;
	}

	> button {
		border: 1px solid red;
		&::before {
			background: #fff url($imgpath + 'common/icon_calendar_black.svg') no-repeat 100% 50%;
		}
	}
}

/*---------------------------------------------*/
/*  drop down  */
/*---------------------------------------------*/
.dropdown {
	//dropdown-head
	&-head {
		//@include flexArea($width: auto, $align: center, $justify: flex-start, $direction: row, $gap: 0);
		border: 1px solid #cdd1d5;
		border-radius: 0.8rem;
		position: relative;
	}
	&-default {
		padding: 0.7rem 5.2rem 0.7rem 1.5rem;
		color: #1e2124;
		text-align: left;
		&:before {
			content: '';
			width: 2.4rem;
			height: 2.4rem;
			background: #fff url($imgpath + 'common/icon_arrow_gray.svg') center / contain;
			position: absolute;
			top: 50%;
			right: 1.6rem;
			transform: translateY(-50%);
		}
	}

	//dropdown-default 클릭 후, dropdown-body 펼쳐 졌을때
	&.open {
		.dropdown-default {
			&::before {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}

	//dropdown-body
	&-body {
		//display: block;
		display: none;
		box-shadow: 4px 4px 16px 0 rgba(18, 18, 18, 0.12);
		padding: 0.4rem;
		width: 100%;
		position: absolute;
		z-index: 10;
		border: 1px solid red;
	}
	&-item {
		padding: rem(8) rem(16);
		color: #1e2124;
		display: block;
		border-radius: 0.8rem;
		word-break: break-word;

		&:hover {
			background: #ecf2fe;
			color: #256ef4;
		}

		&:active {
			background: #d6e0eb;
			color: #256ef4;
		}
	}

	//size
	&.size {
		&-sm {
			max-width: 14rem;
			.dropdown-body {
				max-width: 14rem;
			}
		}
	}
}

//select됬을때
.dropdown.select- {
	.dropdown-head {
		border: 1px solid #cdd1d5;
		border-radius: rem(8);
	}
	.dropdown-item {
		&.selected {
			position: relative;
			padding-left: rem(24);
			color: #256ef4;
			background-color: #ecf2fe;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: rem(16);
				height: rem(16);
				transform: translateY(-50%);
				background: url('../images/common/select_check.svg') top left / cover;
			}
		}
	}
}

// .dropdown-item {
// 	&.selected {
// 		position: relative;
// 		padding-left: rem(24);
// 		color: #256ef4;
// 		background-color: #ecf2fe;
// 		&:before {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			top: 50%;
// 			left: 0;
// 			width: rem(16);
// 			height: rem(16);
// 			transform: translateY(-50%);
// 			background: url('../images/common/select_check.svg') top left / cover;
// 		}
// 	}
// }

/*---------------------------------------------*/
/*  file upload  */
/*---------------------------------------------*/
.form-file {
	@include flexArea($width: auto, $align: center, $justify: flex-start, $direction: row, $gap: 0);

	.input-file {
		border: 1px solid;
	}
}
