
/********** reset **********/
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1.5;
	letter-spacing: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: var(--fw-700);
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
dl,
dt,
dd,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

body {
	color: var(--grey-90);
	font-size: var(--fz-sm);
	line-height: 1.5;
	font-weight: var(--fw-400);
	font-family:
		'Pretendard GOV', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: normal;

	/* 텍스트 선택 방지 */
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// user-select: none;
}
