.member-wrap {
	max-width: 112rem;
	margin: 4rem auto 0;
	> *:first-child {
		margin-top: 0;
	}
	@include bpm('sm') {
		margin-top: 3.2rem;
	}
}


//회원 > 회원가입 > 약관동의
.agreelist-wrap {
	display: block;
	margin-top: 4rem;
	padding: 4rem 8rem;
	background-color: var(--grey-5);
	border: 1px solid var(--grey-30);
	border-radius: 2rem;

	@include bpm('sm') {
		margin-top: 3.2rem;
		padding: 2.4rem 1.6rem;
	}

	&.ver-pop {
		padding: 0;
		background-color: #fff;
		border: none;
	}

	> .top-check {
		display: flex;
		justify-content: flex-end;
		padding: 1rem 0;

		@include bpm('sm') {
			padding: 0.3rem 0;
		}
	}

	> .type-agreelist {
		> li {
			> .cont-wrap {
				margin-top: 1.6rem;
				@include bpm('sm') {
					margin-top: 1.2rem;
				}

				> .text-box {
					height: 23.9rem;
					padding: 1.6rem;
					border: 1px solid var(--grey-40);
					border-radius: 0.4rem;
					background-color: var(--white);
					overflow-y: auto;
					@include bpm('xs') {
						height: 20.8rem;
					}
				}

				> .option-box {
					display: flex;
					justify-content: flex-end;
					margin-top: 2.4rem;
					@include bpm('xs') {
						flex-wrap: wrap;
						margin-top: 1.2rem;
						> .q-option-group {
							margin-top: 0;
						}
					}
					> .txt {
						margin-right: 2.4rem;
						color: var(--grey-80);
						@include bpm('xs') {
							width: 100%;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

//회원 > 본인 확인 > 회원가입
.info-greybox {
	display: block;
	width: 100%;
	padding: 4.8rem;
	border: 1px solid var(--grey-30);
	background-color: var(--grey-5);
	border-radius: 1.2rem;

	> dl {
		margin: 0;
		display: flex;
		&:not(:first-child) {
			margin-top: 2rem;
		}
		dt {
			min-width: 8rem;
		}
		dd {
			margin-left: 2.4rem;
			font-weight: var(--fw-600);
			word-break: break-word;
		}
	}
}

//회원 > 아이디/비밀번호 찾기 > 아이디(ID) 확인
.id-confirm-wrap {
	display: flex;
	justify-content: center;
	padding: 6.4rem 1.2rem;
	background-color: var(--grey-5);
	border: 1px solid var(--grey-30);
	border-radius: 1.2rem;

	@include bpm('sm') {
		margin: 0 -1.6rem;
		padding: 4rem 1.2rem;
		border-left: none;
		border-right: none;
		border-radius: unset;
	}

	.idata-list {
		width: auto;
		> li {
			display: flex;
			align-items: center;
			& + li {
				margin-top: 2.4rem;
			}
			@include bpm('sm') {
				& + li {
					margin-top: 1.2rem;
				}
			}
			p {
				font-size: var(--fz-md);
				@include bpm('sm') {
					font-size: var(--fz-sm);
				}
				&.data {
					margin-left: 2.4rem;
					strong {
						font-size: var(--fz-xl);
						@include bpm('sm') {
							font-size: var(--fz-lg3);
						}
					}
				}
			}
		}
	}
}

