/*!
 * [나라사랑포털 관리자] ui.common
 * --------------------------------------
 * Start: 2025/07/07
 * Modify: 
 */

@import 'base/font';
@import 'base/reset';

@import 'utils/function';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/extend';
@import 'utils/typo';
@import 'utils/svg';

// @import 'work/tabletypo';
@import 'work/bluepark';
@import 'work/bp_form';
