
/* 서브 q-calendar */
.sub-calendar-wrap {
	.q-calendar {
		// 달력 스타일 변수
		--calendar-border: 1px solid var(--grey-40);
		--calendar-color: var(--grey-90);
		--calendar-head-font-weight: 700;

		border: var(--calendar-border);
		border-radius: 0.8rem;

		/* 기본 날짜 라벨 숨기기 */
		.q-calendar-month__day--label__wrapper {
			display: none !important;
		}

		.q-calendar-month__day--month {
			visibility: hidden;
		}

		/* 기타 달력 스타일 수정 */
		.q-calendar-month__head--weekdays {
			min-height: 5.2rem;
			font-size: 1.7rem;
			line-height: 1.5;
			font-weight: 700;
		}
		.q-calendar-month__head--weekday {
			justify-content: center;
			&:first-child {
				color: var(--danger-60);
			}
			&:last-child {
				color: var(--primary-40);
			}
		}

		.q-calendar-month__week--wrapper {
			min-height: 15rem;
			.q-calendar-month__week--days {
				.q-calendar-month__day:not(.disabled) {
					&:first-child {
						.q-calendar-day {
							color: var(--danger-60);
						}
					}
					&:last-child {
						.q-calendar-day {
							color: var(--primary-40);
						}
					}
				}
			}
		}

		.q-calendar-month__week--events {
			margin-top: auto;
			margin-bottom: 4.8rem;
			line-height: 1;
		}
		.q-calendar-day {
			justify-content: flex-end;
			align-items: flex-end;
			position: relative;
			padding: 0.4rem;
			border: none;
			background: none;
			color: var(--grey-90);
			font-size: 1.5rem;
			text-decoration: none;
			z-index: 5;
			.label {
				min-width: 4rem;
				height: 4rem;
				border-radius: 50%;
				line-height: 4rem;
				text-align: center;
			}

			&.today .label {
				background-color: var(--primary-10);
				color: var(--grey-90);
			}
			&:hover,
			&:focus {
				.label {
					background-color: var(--primary-50);
					color: var(--white);
				}
			}
			&:focus-visible {
				outline-offset: -2px;
				z-index: 15;
			}
			&.disabled-day {
				pointer-events: none;
			}
		}

		.my-event {
			position: relative;
			display: inline-flex;
			white-space: nowrap;
			padding: 0;
			font-size: 1.7rem;
			line-height: 1.5;
			margin: 1px 0 0 0;
			justify-content: start;
			text-overflow: ellipsis;
			border: none;
			overflow: hidden;
			cursor: pointer;
			vertical-align: top;
			z-index: 10;
			&:focus {
				outline: none;
			}
			&:focus-visible {
				position: relative;
				outline: 2px dashed currentColor;
				outline-offset: -2px;
				z-index: 15;
			}
			&.bg-type01 {
				background-color: #d3effb;
			}
			&.bg-type02 {
				background-color: var(--warning-10);
			}
			&.bg-type03 {
				background-color: var(--point-10);
			}
			&.bg-type04 {
				background-color: var(--secondary-10);
			}
			&.bg-type05 {
				background-color: #e7e2ff;
			}
			&.bg-type06 {
				background-color: #f4ffe2;
			}
			&.bg-type07 {
				background-color: #ffede2;
			}
		}

		.event-start {
			border-left: 4px solid;
			&.bg-type01 {
				border-color: var(--primary-50);
			}
			&.bg-type02 {
				border-color: #6f4c04;
			}
			&.bg-type03 {
				border-color: var(--point-70);
			}
			&.bg-type04 {
				border-color: var(--secondary-70);
			}
			&.bg-type05 {
				border-color: #3a00b8;
			}
			&.bg-type06 {
				border-color: #387400;
			}
			&.bg-type07 {
				border-color: #be4f0d;
			}
		}

		.title {
			display: inline-flex;
			width: 100%;
			height: 3.2rem;
			padding: 0.3rem 0.6rem 0.3rem 0.8rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			vertical-align: middle;
			text-align: left;
		}

		.my-void-event {
			display: inline-flex;
			white-space: nowrap;
			height: 1px;
			pointer-events: none;
		}
	}
}

.sub-calendar-wrap-m {
	.q-calendar {
		--calendar-color: var(--grey-90);
		--calendar-outside-color: var(--grey-40) !important;

		position: relative;
		width: auto;
		padding: 2rem;
		margin: 0 -1.6rem;
		background-color: var(--grey-5);
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid var(--grey-30);
			pointer-events: none;
		}
		.q-calendar-month {
			border-radius: 0.8rem;
			background-color: var(--white);
		}
		.q-calendar-month__head {
			border: none;
			background: none;
		}
		.q-calendar-month__head--weekdays {
			font-size: 1.5rem;
		}
		.q-calendar-month__head--weekday {
			justify-content: center;
			height: 4.6rem;
			border-right: none;
			font-weight: 700;
		}
		.q-calendar-month__week--wrapper {
			border-bottom: none;
		}
		.q-calendar-month__week--days {
			min-height: 5rem;
		}
		.q-calendar-month__day {
			border-right: none;
			&.disabled {
				opacity: 1 !important;
			}
		}
		.q-calendar-month__day--label__wrapper {
			display: none;
		}
		.q-calendar-month__day--content {
			display: flex;
		}
		.q-calendar-day {
			justify-content: flex-start;
			align-items: center;
			color: inherit;
			text-decoration: none;
			&.today {
				.label {
					background-color: var(--primary-10);
				}
			}
			.label {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-top: 1.2rem;
				padding: 0;
				width: 2.4rem;
				height: 2.4rem;
				border-radius: 50%;
				font-size: 1.5rem;
				vertical-align: top;
			}
			.event-icon {
				display: flex;
				justify-content: center;
				gap: 0.2rem;
				width: 100%;
				margin: 0.4rem 0 0.2rem;
				> span {
					width: 0.7rem;
					height: 0.7rem;
					border-radius: 50%;
					background-color: var(--grey-100);
					&.bg-type01 {
						background-color: var(--primary-50);
					}
					&.bg-type02 {
						background-color: #6f4c04;
					}
					&.bg-type03 {
						background-color: var(--point-70);
					}
					&.bg-type04 {
						background-color: var(--secondary-70);
					}
					&.bg-type05 {
						background-color: #3a00b8;
					}
					&.bg-type06 {
						background-color: #387400;
					}
					&.bg-type07 {
						background-color: #be4f0d;
					}
				}
			}
			&.disabled-day {
				pointer-events: none;
				.event-icon {
					opacity: 0.6;
				}
			}
		}
	}
	.event-list {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		width: auto;
		padding: 2rem 1.6rem;
		margin: 3.2rem -1.6rem 0;
		border-top: 1px solid var(--grey-90);
		border-bottom: 1px solid var(--grey-40);
		.q-expansion-item {
			border-bottom: none;

			.q-item {
				min-height: auto;
				padding: 0.8rem;
				border-left: 4px solid;
				&[aria-expanded='true'] {
					background-color: transparent;
				}
				.q-item__section--main {
					.q-item__label {
						color: var(--grey-90);
						font-size: 1.7rem;
						line-height: 1.5 !important;
						font-weight: 600;
					}
					.text-caption {
						margin-top: 0.4rem;
						font-size: 1.7rem;
						line-height: 1.5 !important;
						font-weight: 400;
					}
				}
				.q-item__section--main ~ .q-item__section--side {
					align-self: flex-start;
					color: var(--grey-80);
				}
			}
			&.bg-type01 .q-item {
				border-color: var(--primary-50);
				background-color: #d3effb;
			}
			&.bg-type02 .q-item {
				border-color: #6f4c04;
				background-color: var(--warning-10);
			}
			&.bg-type03 .q-item {
				border-color: var(--point-70);
				background-color: var(--point-10);
			}
			&.bg-type04 .q-item {
				border-color: var(--secondary-70);
				background-color: var(--secondary-10);
			}
			&.bg-type05 .q-item {
				border-color: #3a00b8;
				background-color: #e7e2ff;
			}
			&.bg-type06 .q-item {
				border-color: #387400;
				background-color: #f4ffe2;
			}
			&.bg-type07 .q-item {
				border-color: #be4f0d;
				background-color: #ffede2;
			}

			.q-expansion-item__content {
				.event-details {
					display: flex;
					flex-direction: column;
					gap: 0.8rem;
					padding: 2.4rem 1.2rem 0.4rem;
					> dl {
						display: flex;
						align-items: flex-start;
						> dt {
							flex: none;
							min-width: 9rem;
							margin-right: 0.8rem;
							font-weight: 600;
						}
						> dd {
							flex: 1;
							white-space: pre-line;
						}
					}
					> .custom-btn {
						margin-top: 0.4rem;
					}
				}
			}
		}
	}
}