// 만족도 조사
.satisfact-box {
	margin-top: 6.4rem;
	padding: 2.4rem 4rem;
	border-radius: 1.2rem;
	border: 1px solid var(--primary-20);
	background-color: var(--primary-5);
	@include bpm('sm') {
		margin-top: 4rem;
		padding: 2.4rem 1.6rem;
	}
	.top-sec {
		display: flex;
		justify-content: space-between;
		@include bpm('sm') {
			flex-direction: column;
			gap: 1.2rem 0;
		}
		.tit {
			min-width: 43rem;
			padding-right: 2rem;
			font-size: var(--fz-md);
			font-weight: var(--fw-700);
			@include bpm('sm') {
				width: 100%;
				min-width: auto;
			}
		}
		.custom-optiongroup.ver-sf {
			.q-radio {
				.q-radio__label {
					position: relative;
					padding-left: 3.2rem;
					> div {
						&::before {
							content: '';
							display: inline-block;
							position: absolute;
							left: 0;
							top: 0.1rem;
							width: 2.4rem;
							height: 2.4rem;
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
						}
						&.sf01 {
							&::before {
								background-image: url(../assets/images/icon/q-icon-satisfac01-24.svg);
							}
						}
						&.sf02 {
							&::before {
								background-image: url(../assets/images/icon/q-icon-satisfac02-24.svg);
							}
						}
						&.sf03 {
							&::before {
								background-image: url(../assets/images/icon/q-icon-satisfac03-24.svg);
							}
						}
						&.sf04 {
							&::before {
								background-image: url(../assets/images/icon/q-icon-satisfac04-24.svg);
							}
						}
						&.sf05 {
							&::before {
								background-image: url(../assets/images/icon/q-icon-satisfac05-24.svg);
							}
						}
					}
				}
			}
		}
	}
	.btm-sec {
		width: 100%;
		margin-top: 1.6rem;
		padding-top: 2rem;
		border-top: 1px solid var(--grey-40);
		@include bpm('sm') {
			margin-top: 2.4rem;
			border: none;
			padding-top: 0rem;
		}
		.search-box {
			display: flex;
			gap: 0 0.8rem;
			@include bpm('sm') {
				flex-direction: column;
				gap: 1.6rem 0rem;
			}
		}
		.info-desc {
			display: flex;
			margin: 1.6rem 0 0 0;
			@include bpm('sm') {
				flex-direction: column;
				margin: 2.4rem 0 0 0;
			}
			dt {
				font-weight: var(--fw-700);
			}
			dd {
				margin-left: 0.8rem;
				@include bpm('sm') {
					margin-left: 0;
					margin-top: 0.4rem;
				}
			}
		}
	}
}
