/*!
 * [나라사랑포털 FO] ui.common
 * --------------------------------------
 * Start: 2025/07/07
 * Modify: 
 */

@import "common/font";

@import "common/variables";
@import "common/root";
@import "common/mixins";
@import "common/reset";
@import "common/magic";

//layouts
@import "layouts/footer";
@import "layouts/header";
@import "layouts/quick";
@import "layouts/skip";
@import "layouts/subheader";

//modules
@import "modules/quasar"; // 정리 예정
@import "modules/content"; // 정리 예정
@import "modules/deprecated"; // 삭제 예정

@import "modules/icon"; //정리 예정

@import "modules/loading";

@import "modules/q.badge";
@import "modules/q.btn";
@import "modules/q.chip";
@import "modules/q.dialog";
@import "modules/q.expansion";
@import "modules/q.forms";
@import "modules/q.notification";
@import "modules/q.pagination";
@import "modules/q.tab";
@import "modules/q.table";
@import "modules/q.uploader";

//components
@import "components/qcalendar";
@import "components/kogl";
@import "components/statisfact";

//pages
@import "pages/error";
@import "pages/member"; // 수정 예정

//work
@import "work/kjk";
@import "work/khb";
